openapi: 3.1.0

info:
  version: 1.0.0
  title: مستندات API سواپ‌ولت برای پنل مدیریت فروشگاه‌ها
  description: |
    این مستند برای آشنایی شما با API [سواپ‌ولت](https://business.swapwallet.app) تهیه شده است تا بتوانید بیشترین بهره را از حساب کاربری خود ببرید.

    با استفاده از API سواپ‌ولت، می‌توانید کارهایی مانند موارد زیر را انجام دهید:
    - مدیریت فروشگاه و تراکنش‌ها
    - مشاهده وضعیت تراکنش‌ها
    - ساخت رسید

    پیش از استفاده از APIها، لطفاً [قوانین استفاده از سواپ‌ولت](https://swapwallet.app/tos) را مطالعه کرده و بپذیرید. همچنین برای دریافت اطلاعیه‌های رسمی و تغییرات نسخه‌ها، در [گروه اطلاع‌رسانی سواپ‌ولت](https://t.me/SwapWalletGroup) عضو شوید.

    ---

    ## دریافت کلید فروشگاه

    برای استفاده از API فروشگاه لازم است یک **کلید API** برای فروشگاه خود ایجاد کنید.

    مراحل دریافت:
    1. ورود به [پنل مدیریت فروشگاه](https://business.swapwallet.app)
    2. ایجاد یک کسب‌وکار جدید
    3. ورود به فروشگاه مورد نظر
    4. دریافت کلید از بخش **تنظیمات** ← کلید دسترسی (API Key)

    سپس کلید خود را در هدر درخواست‌ها به‌صورت زیر ارسال کنید:

    ```http
    Authorization: Bearer business-xxx
    ```
    
    > [!note]
    > تمام مبالغ دریافتی مستقیماً به کیف پول شخصی صاحب فروشگاه تسویه می‌شوند. برای ورود به پنل می‌توانید از شماره موبایل یا حساب تلگرام خود استفاده کنید.

    > [!note]
    > هر فروشگاه کلید اختصاصی خود را دارد و برای فروشگاه‌های دیگر باید همین روند را برای فروشگاه مدنظر طی کنید.

    > [!note]
    > کلیدهای API برای استفاده‌ی برنامه‌نویسی بهینه‌سازی شده‌اند؛ هنگام استفاده از این کلیدها، محدودیت‌های دومرحله‌ای نظیر ایمیل، پیامک و Google Authenticator اعمال نمی‌شوند.

    ---

    ## نکات امنیتی

    > [!caution]
    > توکن خود را تحت هیچ شرایطی با دیگران به اشتراک نگذارید.
    > در صورت لو رفتن یا شک به دسترسی غیرمجاز، فوراً از طریق پنل فروشگاه مورد نظر، توکن خود را منقضی کرده و توکن جدید دریافت کنید.

    در صورت نیاز به استفاده از توکن در کد، مطمئن شوید که با روش‌های امن نگهداری داده‌های حساس آشنا هستید.

    ✨ با رعایت این نکات، می‌توانید به‌صورت ایمن و مؤثر از API سواپ‌ولت در پروژه‌های خود استفاده کنید.

servers:
  - url: https://swapwallet.app/api
    description: سرور پروداکشن

tags:
  - name: اطلاعات فروشگاه
    description: |
      اطلاعات کلی فروشگاه و اعضای آن را مشاهده کنید.

  - name: موجودی
    description: |
      موجودی لحظه‌ای حساب خود را به تفکیک هر توکن مشاهده کنید.

  - name: برداشت ریالی
    description: |
      عملیات تسویه و برداشت ریالی فروشگاه را انجام دهید.

  - name: آمار فروش
    description: |
      آمار فروش و درآمد فروشگاه را در بازه‌های زمانی مختلف مشاهده کنید.

  - name: تراکنش‌ها
    description: |
      با استفاده از این APIها می‌توانید اطلاعات تراکنش‌های حساب فروشگاه خود را دریافت کنید.

      هر تراکنش دارای یک فیلد `type` است که نوع آن را مشخص می‌کند. بسته به نوع تراکنش، یکی از آبجکت‌های جزئیات اختصاصی در پاسخ موجود خواهد بود:

      | نوع (`type`) | شرح | آبجکت جزئیات |
      |---|---|---|
      | `INTERNAL_PAYMENT` | پرداخت داخلی | `internalPaymentTransactionDto` |
      | `EXTERNAL_PAYMENT` | پرداخت خارجی | `externalPaymentTransactionDto` |
      | `SETTLEMENT` | تسویه | `settlementTransactionDto` |

  - name: فاکتور
    description: |
      با استفاده از این APIها می‌توانید فاکتورهای پرداخت کریپتویی برای فروشگاه خود ایجاد و مدیریت کنید.

      کاربر پس از دریافت لینک پرداخت، مبلغ را مستقیماً به کیف پول اختصاص‌یافته واریز می‌کند. پس از تأیید تراکنش روی شبکه، وب‌هوک شما فراخوانی می‌شود.

  - name: فاکتور ریالی
    description: |
      دریافت پرداخت ریالی با مبلغ ثابت به تومان.

  - name: وب‌هوک
    description: |
      مدیریت و پیگیری وضعیت وب‌هوک‌های فاکتور.

x-tagGroups:
  - name: عمومی
    tags:
      - اطلاعات فروشگاه
  - name: درگاه پرداخت
    tags:
      - فاکتور
  - name: کیف پول
    tags:
      - موجودی
      - تراکنش‌ها
      - برداشت ریالی
  - name: دیگر
    tags:
      - فاکتور ریالی
      - وب‌هوک

paths:
  /v1/merchants/info:
    get:
      tags:
        - اطلاعات فروشگاه
      summary: اطلاعات فروشگاه
      description: |
        با استفاده از این API می‌توانید اطلاعات کلی فروشگاه خود را مشاهده نمایید.
      operationId: getApplicationInformation
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: اطلاعات فروشگاه با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
              examples:
                success:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      id: 101
                      type: API
                      ownerId: 12
                      supportCode: "APP-8LEYRQH-G8HM"
                      status: ACTIVE
                      username: "my-shop"
                      logo: "https://swapwallet.app/media/logo.png"
                      name: "My Shop"
                      description: "فروشگاه نمونه"
                      website: "https://example.com"
                      webhookUrl: "https://example.com/webhook"
                      deepLinks:
                        - SWAP_WALLET
                        - TRUST_WALLET
                        - METAMASK
                      feePayer: APPLICATION
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v1/merchants/balance:
    get:
      tags:
        - موجودی
      summary: موجودی همه‌ی توکن‌ها
      description: |
        لیست موجودی حساب به تفکیک تمام توکن‌های پشتیبانی‌شده را برمی‌گرداند.
      operationId: getAllBalances
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: موجودی‌ها با موفقیت دریافت شدند
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalBalanceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v1/merchants/transactions:
    get:
      tags:
        - تراکنش‌ها
      summary: دریافت لیست تراکنش‌ها
      description: |
        لیست تراکنش‌های فروشگاه را برمی‌گرداند.

        این endpoint از **pagination**، **sorting** و **filtering** پشتیبانی می‌کند.

        برای هر تراکنش، بسته به مقدار فیلد `type`، فقط یکی از آبجکت‌های زیر مقدار خواهد داشت:

        - `internalPaymentTransactionDto`
        - `externalPaymentTransactionDto`
        - `settlementTransactionDto`
      operationId: getTransactions
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/TransactionsSortedByParam'
        - $ref: '#/components/parameters/DirectionParam'
        - name: supportCode
          in: query
          required: false
          description: فیلتر بر اساس کد پشتیبانی تراکنش
          schema:
            type: string
            example: TX-9F3K2M1
        - name: transactionTypes
          in: query
          required: false
          description: |
            فیلتر بر اساس نوع تراکنش.

            می‌توان چند مقدار ارسال کرد.

            مثال:
            `transactionTypes=INTERNAL_PAYMENT&transactionTypes=SETTLEMENT`
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MerchantTransactionTypeEnum'
          example:
            - INTERNAL_PAYMENT
            - SETTLEMENT
      responses:
        '200':
          description: لیست تراکنش‌ها با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTransactionsListResponse'
              examples:
                defaultResponse:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      page: 0
                      perPage: 10
                      totalItems: 2
                      totalPages: 1
                      data:
                        - id: 170776
                          type: INTERNAL_PAYMENT
                          amount:
                            amount:
                              number: "250.00"
                              unit: "USDT"
                            usdValue:
                              number: "250.00"
                              unit: "USD"
                            irtValue:
                              number: "15750000"
                              unit: "IRT"
                          fee:
                            number: "2.50"
                            unit: "USDT"
                          feeValue:
                            number: "2.50"
                            unit: "USD"
                          timestamp: "2026-03-16T09:45:12Z"
                          supportCode: "TX-9F3K2M1"
                          internalPaymentTransactionDto:
                            applicationInvoice:
                              type: INTERNAL_CRYPTO
                              amount:
                                number: "250.00"
                                unit: "USDT"
                              supportCode: "AI-8LEYRQH-G8HM"
                              orderId: "ORDER-1001"
                              description: "خرید اشتراک ویژه"
                              createdAt: "2026-03-16T09:40:00Z"
                              status: PAID
                              extraStatus: null
                            amount:
                              amount:
                                number: "250.00"
                                unit: "USDT"
                              usdValue:
                                number: "250.00"
                                unit: "USD"
                              irtValue:
                                number: "15750000"
                                unit: "IRT"
                          externalPaymentTransactionDto: null
                          settlementTransactionDto: null
                        - id: 170778
                          type: SETTLEMENT
                          amount:
                            amount:
                              number: "5000000"
                              unit: "IRT"
                            usdValue:
                              number: "79.37"
                              unit: "USD"
                            irtValue:
                              number: "5000000"
                              unit: "IRT"
                          fee:
                            number: "0"
                            unit: "IRT"
                          feeValue:
                            number: "0"
                            unit: "USD"
                          timestamp: "2026-03-16T14:20:33Z"
                          supportCode: "TX-7H5D9N2"
                          internalPaymentTransactionDto: null
                          externalPaymentTransactionDto: null
                          settlementTransactionDto:
                            type: OWNER
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v1/merchants/transactions/{transactionId}:
    get:
      tags:
        - تراکنش‌ها
      summary: دریافت تراکنش با شناسه
      description: |
        اطلاعات کامل یک تراکنش را بر اساس شناسه‌ی عددی آن برمی‌گرداند.

        بسته به مقدار فیلد `type`، فقط یکی از آبجکت‌های جزئیات
        (`internalPaymentTransactionDto`، `externalPaymentTransactionDto`، `settlementTransactionDto`)
        مقدار خواهد داشت و بقیه `null` هستند.
      operationId: getTransactionById
      parameters:
        - name: transactionId
          in: path
          required: true
          description: شناسه‌ی عددی تراکنش
          schema:
            type: integer
            format: int64
            example: 170776
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: تراکنش با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTransactionResponse'
              examples:
                internalPayment:
                  summary: نمونه پاسخ برای پرداخت داخلی
                  value:
                    status: OK
                    result:
                      id: 170776
                      type: INTERNAL_PAYMENT
                      amount:
                        amount:
                          number: "250.00"
                          unit: "USDT"
                        usdValue:
                          number: "250.00"
                          unit: "USD"
                        irtValue:
                          number: "15750000"
                          unit: "IRT"
                      fee:
                        number: "2.50"
                        unit: "USDT"
                      feeValue:
                        number: "2.50"
                        unit: "USD"
                      timestamp: "2026-03-16T09:45:12Z"
                      supportCode: "TX-9F3K2M1"
                      internalPaymentTransactionDto:
                        applicationInvoice:
                          type: INTERNAL_CRYPTO
                          amount:
                            number: "250.00"
                            unit: "USDT"
                          supportCode: "AI-8LEYRQH-G8HM"
                          orderId: "ORDER-1001"
                          description: "خرید اشتراک ویژه"
                          createdAt: "2026-03-16T09:40:00Z"
                          status: PAID
                          extraStatus: null
                        amount:
                          amount:
                            number: "250.00"
                            unit: "USDT"
                          usdValue:
                            number: "250.00"
                            unit: "USD"
                          irtValue:
                            number: "15750000"
                            unit: "IRT"
                      externalPaymentTransactionDto: null
                      settlementTransactionDto: null

                externalPayment:
                  summary: نمونه پاسخ برای پرداخت خارجی
                  value:
                    status: OK
                    result:
                      id: 170777
                      type: EXTERNAL_PAYMENT
                      amount:
                        amount:
                          number: "1000000"
                          unit: "IRT"
                        usdValue:
                          number: "15.87"
                          unit: "USD"
                        irtValue:
                          number: "1000000"
                          unit: "IRT"
                      fee:
                        number: "50000"
                        unit: "IRT"
                      feeValue:
                        number: "0.79"
                        unit: "USD"
                      timestamp: "2026-03-16T11:10:05Z"
                      supportCode: "TX-2L8P7Q4"
                      internalPaymentTransactionDto: null
                      externalPaymentTransactionDto:
                        applicationInvoice:
                          type: EXTERNAL_BLOCKCHAIN
                          amount:
                            number: "1000000"
                            unit: "IRT"
                          supportCode: "AI-2ZMN4TR-K1PL"
                          orderId: "ORDER-1002"
                          description: "پرداخت از طریق شبکه"
                          createdAt: "2026-03-16T11:00:00Z"
                          status: PAID
                          extraStatus: OVER_PAID
                      settlementTransactionDto: null

                settlement:
                  summary: نمونه پاسخ برای تراکنش تسویه
                  value:
                    status: OK
                    result:
                      id: 170778
                      type: SETTLEMENT
                      amount:
                        amount:
                          number: "5000000"
                          unit: "IRT"
                        usdValue:
                          number: "79.37"
                          unit: "USD"
                        irtValue:
                          number: "5000000"
                          unit: "IRT"
                      fee:
                        number: "0"
                        unit: "IRT"
                      feeValue:
                        number: "0"
                        unit: "USD"
                      timestamp: "2026-03-16T14:20:33Z"
                      supportCode: "TX-7H5D9N2"
                      internalPaymentTransactionDto: null
                      externalPaymentTransactionDto: null
                      settlementTransactionDto:
                        type: OWNER
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: تراکنش یافت نشد

  /v1/merchants/invoices/temporary-wallet:
    post:
      tags:
        - فاکتور
      summary: ایجاد فاکتور
      description: |
        یک آدرس کیف پول موقت اختصاصی برای دریافت پرداخت کریپتو ایجاد می‌کند.

        ---

        ## توکن و شبکه

        می‌توانید فاکتور را برای دریافت **USDT، TRX، TON** و سایر توکن‌های پشتیبانی‌شده ایجاد کنید.
        شبکه‌های در دسترس شامل **BSC، TRON، TON** و غیره هستند.

        مبلغ درخواستی (`amount`) می‌تواند به هر واحدی باشد — مثلاً `USD`، `IRT` یا مستقیماً به توکن مورد نظر.
        سواپ‌ولت مبلغ معادل را به‌صورت خودکار محاسبه کرده و در پاسخ (`amount.amount`) برمی‌گرداند.

        > [!note]
        > مبلغی که در `amount.amount` پاسخ دریافت می‌کنید را **دقیقاً** به کاربر نمایش دهید. کاربر باید همین مقدار را به آدرس `walletAddress` واریز کند.

        ---

        ## مدیریت فاکتور

        **`orderId`** — شناسه‌ی فاکتور در سیستم شما. ارسال این فیلد باعث می‌شود فاکتورهای تکراری ایجاد نشوند و بتوانید بعداً با همین شناسه فاکتور را جستجو کنید.

        **`ttl`** — مدت اعتبار فاکتور به ثانیه. پیشنهاد می‌شود مقدار `86400` (۲۴ ساعت) استفاده کنید.

        **`webhookUrl`** — پس از پرداخت موفق، یک درخواست `POST` به این آدرس ارسال می‌شود. برای پیگیری وضعیت پرداخت به‌صورت real-time استفاده کنید.

        **`underPaidCoveragePercent`** — اگر کاربر مبلغی کمتر از مقدار درخواستی واریز کند، فاکتور همچنان تأیید می‌شود. این گزینه برای مواردی مفید است که صرافی‌ها کارمزد را از مبلغ ورودی کاربر کسر می‌کنند.

        ---

        ## اطلاعات کاربر

        > [!note]
        > **توصیه اکید:** فیلدهای `userId`، `userEmail`، `userPhoneNumber` و `userTelegramId` را ارسال کنید. این اطلاعات برای ردیابی تراکنش‌ها، رفع مشکلات احتمالی و پشتیبانی از کاربران بسیار کمک‌کننده است.

        ---

        ## پاسخ و نمایش به کاربر

        پس از ایجاد موفق فاکتور:

        - **`id`** — شناسه‌ی یکتای فاکتور در سواپ‌ولت. برای بررسی وضعیت فاکتور از این شناسه استفاده کنید.
        - **`walletAddress`** — آدرس کیف پول موقت که باید به کاربر نمایش دهید.
        - **`amount.amount`** — مبلغ دقیقی که کاربر باید واریز کند. این مقدار را عیناً به کاربر نشان دهید.

        > [!note]
        > اگر کاربر مبلغ را به چند قسمت واریز کند، سواپ‌ولت مجموع واریزی‌ها را محاسبه می‌کند. فاکتور تا زمانی که مجموع پرداخت‌ها به حد نصاب نرسد یا منقضی نشود، باز می‌ماند.
      operationId: createApplicationInvoiceWithTemporaryWallet
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationInvoiceWithTemporaryWalletRequest'
            examples:
              default:
                summary: نمونه درخواست ایجاد فاکتور با کیف پول موقت
                value:
                  amount:
                    number: "1000000"
                    unit: "IRT"
                  allowedToken: USDT
                  network: BSC
                  webhookUrl: "https://example.com/webhook"
                  returnUrl: "https://example.com/return"
                  ttl: 86400
                  underPaidCoveragePercent: 0
                  orderId: "your-internal-unique-invoice-id"
                  customData: "any text / {\"campaign\":\"spring-sale\"}"
                  description: "پرداخت با کیف پول موقت"
                  userId: "your-internal-id-for-user"
                  userEmail: "wallet@example.com"
                  userPhoneNumber: "+989123334455 or 09123334455"
                  userLanguage: FA
                  userTelegramId: 974181500
      responses:
        '200':
          description: فاکتور با کیف پول موقت با موفقیت ایجاد شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApplicationInvoiceWithTemporaryWalletResponseWrapper'
              examples:
                success:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      id: "11811edb-e36b-4bf7-b7f8-1c7eb11b457b"
                      walletAddress: "TExampleWalletAddress123"
                      links:
                        - name: TRUST_WALLET
                          logo: "https://example.com/trust-wallet.png"
                          url: "trust://pay/example"
                        - name: METAMASK
                          logo: "https://example.com/metamask.png"
                          url: "metamask://pay/example"
                      amount:
                        amount:
                          number: "100.00"
                          unit: "USDT"
                        usdValue:
                          number: "100.00"
                          unit: "USD"
                        userCurrencyValue:
                          number: "8400000"
                          unit: "IRT"
                      expiredAt: "2026-03-30T14:30:00Z"
                      createdAt: "2026-03-30T14:00:00Z"
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'


  /v1/merchants/invoices/full-data:
    get:
      tags:
        - فاکتور
      summary: دریافت لیست کامل فاکتورها
      description: |
        لیست کامل فاکتورهای فروشگاه را به همراه اطلاعات کامل‌تر هر فاکتور برمی‌گرداند.

        این endpoint از **pagination**، **sorting** و **filtering** پشتیبانی می‌کند.

        می‌توانید نتایج را بر اساس:
        - نوع فاکتور (`invoiceTypes`)
        - وضعیت فاکتور (`invoiceStatuses`)
        - جستجو (`search`)
        فیلتر کنید.
      operationId: getApplicationInvoices
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/InvoicesSortedByParam'
        - $ref: '#/components/parameters/DirectionParam'

        - name: search
          in: query
          required: false
          description: جستجو در فیلدهای فاکتور مانند `supportCode` یا `orderId`
          schema:
            type: string
            example: AI-8LEYRQH-G8HM

        - name: invoiceTypes
          in: query
          required: false
          description: |
            فیلتر بر اساس نوع فاکتور.

            مثال:
            `invoiceTypes=CRYPTO_INVOICE&invoiceTypes=TEMP_WALLET`
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ApplicationInvoiceTypeEnum'
          example:
            - CRYPTO_INVOICE
            - TEMP_WALLET

        - name: invoiceStatuses
          in: query
          required: false
          description: |
            فیلتر بر اساس وضعیت فاکتور.

            مثال:
            `invoiceStatuses=ACTIVE&invoiceStatuses=PAID`
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ApplicationInvoiceStatusEnum'
          example:
            - ACTIVE
            - PAID

      responses:
        '200':
          description: لیست کامل فاکتورها با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInvoicesFullDataListResponse'
              examples:
                success:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      page: 0
                      perPage: 10
                      totalItems: 2
                      totalPages: 1
                      data:
                        - id: "c7f4df74-0168-4a58-b04b-3fe4c0dd9e11"
                          supportCode: "AI-8LEYRQH-G8HM"
                          status: ACTIVE
                          description: "پرداخت سفارش"
                          customData: "{\"productId\":\"p-100\"}"
                          wallet: null
                          ownerId: 101
                          telegramInlineMessageId: null
                          userLanguage: FA
                          returnUrl: "https://example.com/return"
                          webhookUrl: "https://example.com/webhook"
                          orderId: "ORDER-1001"
                          amount:
                            number: "100.00"
                            unit: "USDT"
                          value:
                            number: "8400000"
                            unit: "IRT"
                          feePayer: APPLICATION
                          feeAmount:
                            number: "1.00"
                            unit: "USDT"
                          paymentLinks:
                            - type: WEBSITE
                              url: "https://business.swapwallet.app/pay/example"
                          paidAt: null
                          blockchainStatus: null
                          userId: "user-123"
                          userEmail: "user@example.com"
                          userPhoneNumber: "+989121234567"
                          expiredAt: "2026-03-30T15:00:00Z"
                          createdAt: "2026-03-30T14:00:00Z"

                        - id: "5b0a6e45-2335-4f1d-bd1f-6e2f0f6a8a88"
                          supportCode: "AI-2ZMN4TR-K1PL"
                          status: PAID
                          description: "پرداخت با کیف پول موقت"
                          customData: null
                          wallet:
                            network: TRON
                            token: USDT
                            address: "TExampleWalletAddress123"
                            validUntil: "2026-03-30T14:00:00Z"
                            deepLinks:
                              - name: TRUST_WALLET
                                logo: "https://example.com/trust-wallet.png"
                                url: "trust://pay/example"
                              - name: METAMASK
                                logo: "https://example.com/metamask.png"
                                url: "metamask://pay/example"
                          ownerId: 101
                          telegramInlineMessageId: null
                          userLanguage: EN
                          returnUrl: null
                          webhookUrl: "https://example.com/webhook"
                          orderId: "ORDER-1002"
                          amount:
                            number: "500000"
                            unit: "IRT"
                          value:
                            number: "500000"
                            unit: "IRT"
                          feePayer: USER
                          feeAmount:
                            number: "0"
                            unit: "IRT"
                          paymentLinks:
                            - type: TELEGRAM_BOT
                              url: "https://t.me/example_bot?start=invoice_123"
                          paidAt: "2026-03-30T13:30:00Z"
                          blockchainStatus: CONFIRMED
                          userId: null
                          userEmail: null
                          userPhoneNumber: null
                          expiredAt: "2026-03-30T14:00:00Z"
                          createdAt: "2026-03-30T12:00:00Z"
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v1/merchants/invoices/by-order-id/{orderId}:
    get:
      tags:
        - فاکتور
      summary: دریافت فاکتور با شناسه‌ی خارجی
      description: |
        اگر هنگام ساخت فاکتور فیلد `orderId` را ارسال کرده باشید، می‌توانید با همان شناسه‌ای که در سیستم خودتان دارید، فاکتور را بازیابی کنید — بدون نیاز به نگهداری شناسه‌ی سواپ‌ولت.
      operationId: getApplicationInvoiceByExternalId
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: orderId
          in: path
          required: true
          description: شناسه سفارش خارجی
          schema:
            type: string
            example: ORDER-1001
      responses:
        '200':
          description: فاکتور با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInvoiceV2Response'
              examples:
                success:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      id: "c7f4df74-0168-4a58-b04b-3fe4c0dd9e11"
                      supportCode: "AI-8LEYRQH-G8HM"
                      status: ACTIVE
                      description: "پرداخت سفارش"
                      customData: "{\"productId\":\"p-100\"}"
                      wallet: null
                      ownerId: 101
                      telegramInlineMessageId: null
                      userLanguage: FA
                      returnUrl: "https://example.com/return"
                      webhookUrl: "https://example.com/webhook"
                      orderId: "ORDER-1001"
                      amount:
                        number: "100.00"
                        unit: "USDT"
                      value:
                        number: "8400000"
                        unit: "IRT"
                      feePayer: APPLICATION
                      feeAmount:
                        number: "1.00"
                        unit: "USDT"
                      paymentLinks:
                        - type: WEBSITE
                          url: "https://business.swapwallet.app/pay/example"
                        - type: TELEGRAM_WEBAPP
                          url: "https://t.me/example_bot/app?startapp=invoice_123"
                      paidAt: null
                      blockchainStatus: null
                      userId: "user-123"
                      userEmail: "user@example.com"
                      userPhoneNumber: "+989121234567"
                      expiredAt: "2026-03-30T15:00:00Z"
                      createdAt: "2026-03-30T14:00:00Z"
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: فاکتور یافت نشد

  /v1/merchants/invoices/{invoiceId}:
    get:
      tags:
        - فاکتور
      summary: دریافت فاکتور با شناسه‌ی سواپ‌ولت
      description: |
        اطلاعات کامل یک فاکتور را بر اساس شناسه‌ی یکتای آن برمی‌گرداند.
      operationId: getApplicationInvoiceInformation
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: invoiceId
          in: path
          required: true
          description: شناسه یکتای فاکتور
          schema:
            type: string
            format: uuid
            example: c7f4df74-0168-4a58-b04b-3fe4c0dd9e11
      responses:
        '200':
          description: اطلاعات فاکتور با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInvoiceV2Response'
              examples:
                success:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      id: "c7f4df74-0168-4a58-b04b-3fe4c0dd9e11"
                      supportCode: "AI-8LEYRQH-G8HM"
                      status: ACTIVE
                      description: "پرداخت سفارش"
                      customData: "{\"productId\":\"p-100\"}"
                      wallet: null
                      ownerId: 101
                      telegramInlineMessageId: null
                      userLanguage: FA
                      returnUrl: "https://example.com/return"
                      webhookUrl: "https://example.com/webhook"
                      orderId: "ORDER-1001"
                      amount:
                        number: "100.00"
                        unit: "USDT"
                      value:
                        number: "8400000"
                        unit: "IRT"
                      feePayer: APPLICATION
                      feeAmount:
                        number: "1.00"
                        unit: "USDT"
                      paymentLinks:
                        - type: WEBSITE
                          url: "https://business.swapwallet.app/pay/example"
                        - type: TELEGRAM_WEBAPP
                          url: "https://t.me/example_bot/app?startapp=invoice_123"
                      paidAt: null
                      blockchainStatus: null
                      userId: "user-123"
                      userEmail: "user@example.com"
                      userPhoneNumber: "+989121234567"
                      expiredAt: "2026-03-30T15:00:00Z"
                      createdAt: "2026-03-30T14:00:00Z"
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: فاکتور یافت نشد

  /v1/merchants/resid:
    post:
      tags:
        - فاکتور ریالی
      summary: ایجاد رسید ریالی
      description: |
        یک رسید ریالی جدید ایجاد می‌کند.

        این endpoint برای دریافت پرداخت با مبلغ ثابت به تومان (IRT) استفاده می‌شود.

        > [!caution]
        > این سرویس به‌صورت پیش‌فرض برای همه‌ی فروشگاه‌ها غیرفعال است و تنها برای کسب‌وکارهای مجاز فعال‌سازی می‌شود. برای درخواست دسترسی با پشتیبانی تماس بگیرید.
      operationId: createNewResid
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResidRequestV1'
            examples:
              default:
                summary: نمونه درخواست ایجاد رسید
                value:
                  amount:
                    number: "500000"
                    unit: "IRT"
                  userLanguage: FA
                  ttl: 86400
                  webhookUrl: "https://example.com/webhook"
                  returnUrl: "https://example.com/return"
                  orderId: "ORDER-1001"
                  description: "پرداخت سفارش 1001"
                  customData: "{\"source\":\"landing-page\"}"
                  userId: "user-123"
                  userEmail: "user@example.com"
                  userPhoneNumber: "+989121234567"
      responses:
        '200':
          description: رسید با موفقیت ایجاد شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIrtResidResponseWrapper'
              examples:
                success:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      id: "cc8ad7e1-41df-4d02-8f8c-6e4726de19c2"
                      paymentLinks:
                        - type: WEBSITE
                          url: "https://business.swapwallet.app/pay/example"
                        - type: TELEGRAM_BOT
                          url: "https://t.me/example_bot?start=pay_123"
                      expiredAt: "2026-03-30T12:30:00Z"
                      createdAt: "2026-03-30T12:00:00Z"
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v1/merchants/members:
    get:
      tags:
        - اطلاعات فروشگاه
      summary: دریافت اعضای فروشگاه
      description: |
        لیست اعضای فروشگاه را به همراه نقش‌های آن‌ها برمی‌گرداند.
      operationId: getMembers
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: لیست اعضای فروشگاه با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationMembersResponse'
              examples:
                membersExample:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      - applicationUsername: "my-shop"
                        userId: 101
                        name: "Ali Ahmadi"
                        roles:
                          - OWNER
                          - FINANCE
                      - applicationUsername: "my-shop"
                        userId: 102
                        name: "Sara Karimi"
                        roles:
                          - SUPPORT
                          - SALES
                      - applicationUsername: "my-shop"
                        userId: 103
                        name: "Reza Mohammadi"
                        roles:
                          - DEVELOPER
                          - ADMIN
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v1/merchants/invoices/{invoiceId}/webhook:
    get:
      tags:
        - وب‌هوک
      summary: دریافت اطلاعات وب‌هوک فاکتور
      description: |
        اطلاعات وب‌هوک مربوط به یک فاکتور را بر اساس شناسه آن برمی‌گرداند.


        پاسخ شامل وضعیت کلی وب‌هوک و تاریخچه‌ی درخواست‌های ارسال‌شده است.
      operationId: getInvoiceWebhook
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: invoiceId
          in: path
          required: true
          description: شناسه یکتای فاکتور
          schema:
            type: string
            format: uuid
            example: c7f4df74-0168-4a58-b04b-3fe4c0dd9e11
      responses:
        '200':
          description: اطلاعات وب‌هوک با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceWebhookResponse'
              examples:
                success:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      status: FAILED
                      calls:
                        - requestId: "a7d0cb53-b035-44b4-b48e-4b04a59d5f97"
                          url: "https://example.com/webhook"
                          requestBody: "{\"invoiceId\":\"c7f4df74-0168-4a58-b04b-3fe4c0dd9e11\",\"status\":\"PAID\"}"
                          responseBody: "{\"message\":\"invalid signature\"}"
                          status: 400
                          succeed: false
                          createdAt: "2026-03-30T12:00:00Z"
                        - requestId: "0e6a3f89-f1d9-4765-b1bb-7d404adbeff7"
                          url: "https://example.com/webhook"
                          requestBody: "{\"invoiceId\":\"c7f4df74-0168-4a58-b04b-3fe4c0dd9e11\",\"status\":\"PAID\"}"
                          responseBody: null
                          status: 500
                          succeed: false
                          createdAt: "2026-03-30T12:05:00Z"
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: فاکتور یا وب‌هوک یافت نشد

  /v1/merchants/invoices/{invoiceId}/webhook/retry:
    post:
      tags:
        - وب‌هوک
      summary: تلاش مجدد برای ارسال وب‌هوک فاکتور
      description: |
        ارسال وب‌هوک مربوط به فاکتور را مجدداً تلاش می‌کند.
      operationId: retryInvoiceWebhook
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - name: invoiceId
          in: path
          required: true
          description: شناسه یکتای فاکتور
          schema:
            type: string
            format: uuid
            example: c7f4df74-0168-4a58-b04b-3fe4c0dd9e11
      responses:
        '200':
          description: تلاش مجدد با موفقیت ثبت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
              examples:
                success:
                  summary: نمونه پاسخ
                  value:
                    status: OK
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: فاکتور یا وب‌هوک یافت نشد
webhooks:
  invoice-paid:
    post:
      tags:
        - فاکتور
      summary: وب‌هوک پرداخت فاکتور
      description: |
        پس از پرداخت موفق فاکتور، سواپ‌ولت یک درخواست `POST` به آدرس `webhookUrl` شما ارسال می‌کند.

        برای اطمینان از صحت درخواست، فیلد `hmac` را با کلید API خود بررسی کنید.

        > [!note]
        > درخواست‌های وب‌هوک هم از سرورهای داخل ایران و هم از سرورهای خارج از ایران ارسال می‌شوند تا از دریافت موفق آن‌ها اطمینان حاصل شود. لطفاً مطمئن شوید سرویس شما هر دو را می‌پذیرد.

        > [!note]
        > در صورتی که وب‌هوک پاسخ موفق `200` دریافت نکند، سواپ‌ولت در بازه‌های زمانی مختلف درخواست را تکرار می‌کند تا از دریافت آپدیت توسط سرویس شما اطمینان حاصل شود. تاریخچه‌ی کامل درخواست‌های وب‌هوک را می‌توانید از پنل فروشندگان مشاهده کنید.

        > [!note]
        > سرویس شما باید به صورت **idempotent** طراحی شده باشد. سواپ‌ولت تضمینی برای ارسال تنها یک‌بار وب‌هوک نمی‌دهد و ممکن است یک رویداد چندین بار ارسال شود.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              invoice-paid:
                summary: پرداخت موفق فاکتور
                value:
                  requestId: "560fc0fe-773f-46e4-8446-259ed7a9f6d0"
                  hmac: "3664744a8cc0afb4359e7c8b20cf953b5047bbfe24604d7af4c151e54881c229"
                  event:
                    time: "2025-12-13T12:31:00.652591210Z"
                    type: "INVOICE"
                    invoice:
                      id: "6adb1e35-9595-4f35-9228-38733a34f17c"
                      supportCode: "AI-GZFXG1E-TN0O"
                      status: "PAID"
                      description: null
                      customData: null
                      wallet: null
                      ownerId: 1
                      telegramInlineMessageId: null
                      userLanguage: null
                      returnUrl: null
                      webhookUrl: "https://webhook.site/20fab530-713b-467b-9796-3a8f278e173a"
                      orderId: "0ee5471c-8023-467d-a0b5-4de5a5d5a06b"
                      amount:
                        number: "0.02"
                        unit: "USDT"
                      value:
                        number: "0.02"
                        unit: "USD"
                      feePayer: "APPLICATION"
                      feeAmount:
                        number: "0"
                        unit: "USDT"
                      paymentLinks: []
                      paidAt: "2025-12-13T12:31:00.526613919Z"
                      expiredAt: "2025-12-13T13:30:01.510631Z"
                      createdAt: "2025-12-13T12:30:01.522760Z"
      responses:
        '200':
          description: وب‌هوک با موفقیت دریافت شد

components:
  parameters:
    AuthorizationHeader:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer business-yourTokenHere
      description: هدر احراز هویت پنل فروشگاه

    PageParam:
      name: page
      in: query
      required: false
      description: شماره صفحه (از صفر شروع می‌شود)
      schema:
        type: integer
        minimum: 0
        default: 0
        example: 0

    LimitParam:
      name: limit
      in: query
      required: false
      description: تعداد آیتم‌های هر صفحه
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
        example: 10

    DirectionParam:
      name: direction
      in: query
      required: false
      description: جهت مرتب‌سازی
      schema:
        type: string
        enum:
          - ASC
          - DESC
        default: DESC
        example: DESC

    TransactionsSortedByParam:
      name: sortedBy
      in: query
      required: false
      description: فیلد مرتب‌سازی در لیست تراکنش‌ها
      schema:
        type: string
        default: id
        example: timestamp

    InvoicesSortedByParam:
      name: sortedBy
      in: query
      required: false
      description: فیلد مرتب‌سازی در لیست فاکتورها
      schema:
        type: string
        default: createdAt
        example: createdAt

  responses:
    UnauthorizedResponse:
      description: عدم احراز هویت

  schemas:
    ResponseStatusEnum:
      type: string
      enum:
        - OK
        - ERROR

    TokenEnum:
      type: string
      enum:
        - USDT
        - TON
        - TRX
        - IRT
        - ETH
        - BNB
        - USD

    Money:
      type: object
      required:
        - number
        - unit
      properties:
        number:
          type: string
        unit:
          type: string
          description: واحد ارزی (مثلاً USDT، IRT، USD)
      example:
        number: "100.50"
        unit: "USDT"

    TotalValueDto:
      type: object
      properties:
        available:
          type: array
          items:
            $ref: '#/components/schemas/Money'
        onHold:
          type: array
          items:
            $ref: '#/components/schemas/Money'

    TokenAmountAndValueDto:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Money'

    MarketDataDTO:
      type: object
      properties:
        bestSell:
          type: string
        bestBuy:
          type: string
        latestPrice:
          type: string
        dayChange:
          type: string
        volume24h:
          type: string

    ExternalMarketDataDTO:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/TokenEnum'
        destination:
          $ref: '#/components/schemas/TokenEnum'
        marketData:
          $ref: '#/components/schemas/MarketDataDTO'

    TokensBalanceDto:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/TokenEnum'
        available:
          $ref: '#/components/schemas/TokenAmountAndValueDto'
        onHold:
          $ref: '#/components/schemas/TokenAmountAndValueDto'
        marketData:
          type: array
          items:
            $ref: '#/components/schemas/ExternalMarketDataDTO'
      example:
        name: USDT
        available:
          amount:
            number: "100.50"
            unit: "USDT"
          values:
            - number: "100.50"
              unit: "USDT"
            - number: "20100000"
              unit: "IRT"
        onHold:
          amount:
            number: "0"
            unit: "USDT"
          values:
            - number: "0"
              unit: "USDT"
            - number: "0"
              unit: "IRT"
        marketData:
          - source: USDT
            destination: USDT
            marketData:
              bestSell: "1.00"
              bestBuy: "1.00"
              latestPrice: "1.00"
              dayChange: "0.00"
              volume24h: "0.00"
          - source: USDT
            destination: IRT
            marketData:
              bestSell: "200000"
              bestBuy: "200000"
              latestPrice: "200000"
              dayChange: "0.00"
              volume24h: "0.00"

    TotalBalanceDTO:
      type: object
      properties:
        totalValue:
          $ref: '#/components/schemas/TotalValueDto'
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TokensBalanceDto'
      example:
        totalValue:
          available:
            - number: "100.50"
              unit: "USDT"
            - number: "200000"
              unit: "IRT"
          onHold:
            - number: "0"
              unit: "USDT"
            - number: "0"
              unit: "IRT"
        tokens:
          - name: USDT
            available:
              amount:
                number: "100.50"
                unit: "USDT"
              values:
                - number: "100.50"
                  unit: "USDT"
                - number: "20100000"
                  unit: "IRT"
            onHold:
              amount:
                number: "0"
                unit: "USDT"
              values:
                - number: "0"
                  unit: "USDT"
                - number: "0"
                  unit: "IRT"
            marketData:
              - source: USDT
                destination: USDT
                marketData:
                  bestSell: "1.00"
                  bestBuy: "1.00"
                  latestPrice: "1.00"
                  dayChange: "0.00"
                  volume24h: "0.00"
              - source: USDT
                destination: IRT
                marketData:
                  bestSell: "200000"
                  bestBuy: "200000"
                  latestPrice: "200000"
                  dayChange: "0.00"
                  volume24h: "0.00"
          - name: IRT
            available:
              amount:
                number: "200000"
                unit: "IRT"
              values:
                - number: "1.00"
                  unit: "USDT"
                - number: "200000"
                  unit: "IRT"
            onHold:
              amount:
                number: "0"
                unit: "IRT"
              values:
                - number: "0"
                  unit: "USDT"
                - number: "0"
                  unit: "IRT"
            marketData:
              - source: IRT
                destination: USDT
                marketData:
                  bestSell: "0.000005"
                  bestBuy: "0.000005"
                  latestPrice: "0.000005"
                  dayChange: "0.00"
                  volume24h: "0.00"
              - source: IRT
                destination: IRT
                marketData:
                  bestSell: "1"
                  bestBuy: "1"
                  latestPrice: "1"
                  dayChange: "0"
                  volume24h: "0"

    MerchantTransactionTypeEnum:
      type: string
      enum:
        - INTERNAL_PAYMENT
        - EXTERNAL_PAYMENT
        - SETTLEMENT

    AmountAndIrtAndUsdValues:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        usdValue:
          $ref: '#/components/schemas/Money'
        irtValue:
          $ref: '#/components/schemas/Money'

    MerchantApplicationInvoiceTypeEnum:
      type: string
      enum:
        - EXTERNAL_BLOCKCHAIN
        - INTERNAL_FIAT
        - INTERNAL_CRYPTO

    ApplicationInvoiceStatusEnum:
      type: string
      enum:
        - ACTIVE
        - PAID
        - EXPIRED
        - CANCELED

    MerchantApplicationInvoiceExtraStatusEnum:
      type: string
      enum:
        - OVER_PAID
        - UNDER_PAID

    MerchantApplicationInvoiceDto:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/MerchantApplicationInvoiceTypeEnum'
        amount:
          $ref: '#/components/schemas/Money'
        supportCode:
          type: string
          description: کد پشتیبانی
        orderId:
          anyOf:
            - type: string
            - type: 'null'
        description:
          anyOf:
            - type: string
            - type: 'null'
        createdAt:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/ApplicationInvoiceStatusEnum'
        extraStatus:
          anyOf:
            - $ref: '#/components/schemas/MerchantApplicationInvoiceExtraStatusEnum'
            - type: 'null'
      example:
        type: INTERNAL_CRYPTO
        amount:
          number: "100.50"
          unit: "USDT"
        supportCode: "AI-8LEYRQH-G8HM"
        orderId: null
        description: null
        createdAt: "2026-02-24T15:12:01.008878Z"
        status: PAID
        extraStatus: null

    MerchantInternalPaymentTransactionDetailsDto:
      type: object
      properties:
        applicationInvoice:
          $ref: '#/components/schemas/MerchantApplicationInvoiceDto'
        amount:
          $ref: '#/components/schemas/AmountAndIrtAndUsdValues'

    MerchantExternalPaymentTransactionDetailsDto:
      type: object
      properties:
        applicationInvoice:
          $ref: '#/components/schemas/MerchantApplicationInvoiceDto'

    MerchantSettlementTransactionDetailsDto:
      type: object
      properties:
        type:
          type: string

    MerchantTransactionDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: شناسه‌ی عددی تراکنش
        type:
          $ref: '#/components/schemas/MerchantTransactionTypeEnum'
        amount:
          $ref: '#/components/schemas/AmountAndIrtAndUsdValues'
        fee:
          $ref: '#/components/schemas/Money'
        feeValue:
          $ref: '#/components/schemas/Money'
        timestamp:
          type: string
          format: date-time
          description: زمان ثبت تراکنش به فرمت ISO 8601
        supportCode:
          type: string
          description: کد پشتیبانی
        internalPaymentTransactionDto:
          anyOf:
            - $ref: '#/components/schemas/MerchantInternalPaymentTransactionDetailsDto'
            - type: 'null'
        externalPaymentTransactionDto:
          anyOf:
            - $ref: '#/components/schemas/MerchantExternalPaymentTransactionDetailsDto'
            - type: 'null'
        settlementTransactionDto:
          anyOf:
            - $ref: '#/components/schemas/MerchantSettlementTransactionDetailsDto'
            - type: 'null'
      example:
        id: 1
        type: INTERNAL_PAYMENT
        amount:
          amount:
            number: "100.50"
            unit: "USDT"
          usdValue:
            number: "100.50"
            unit: "USD"
          irtValue:
            number: "20100000"
            unit: "IRT"
        fee:
          number: "0.1005"
          unit: "USDT"
        feeValue:
          number: "0.1005"
          unit: "USD"
        timestamp: "2026-03-16T23:17:56.349Z"
        supportCode: "AI-8LEYRQH-G8HM"
        internalPaymentTransactionDto:
          applicationInvoice:
            type: INTERNAL_CRYPTO
            amount:
              number: "100.50"
              unit: "USDT"
            supportCode: "AI-8LEYRQH-G8HM"
            orderId: null
            description: null
            createdAt: "2026-02-24T15:12:01.008878Z"
            status: PAID
            extraStatus: null
          amount:
            amount:
              number: "100.50"
              unit: "USDT"
            usdValue:
              number: "100.50"
              unit: "USD"
            irtValue:
              number: "20100000"
              unit: "IRT"
        externalPaymentTransactionDto: null
        settlementTransactionDto: null

    MerchantTransactionsResponse:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        totalItems:
          type: integer
          format: int64
        totalPages:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/MerchantTransactionDto'

    MerchantInvoicesPagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        totalItems:
          type: integer
          format: int64
        totalPages:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/MerchantApplicationInvoiceDto'

    ApplicationStatusEnum:
      type: string
      enum:
        - ACTIVE
        - INACTIVE
        - DELETED
      example: ACTIVE

    ApplicationInformationDto:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ApplicationStatusEnum'
        username:
          type: string
        name:
          type: string
        description:
          anyOf:
            - type: string
            - type: 'null'
        logo:
          anyOf:
            - type: string
            - type: 'null'
        website:
          anyOf:
            - type: string
            - type: 'null'
        verified:
          type: boolean
      example:
        status: ACTIVE
        username: Foo
        name: Foo
        description: Foo
        logo: https://swapwallet.app/favicon.ico
        website: https://business.swapwallet.app
        verified: true

    ApplicationInformationResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationInformationDto'

    TotalBalanceResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/TotalBalanceDTO'

    TokenBalanceResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/TokensBalanceDto'

    MerchantTransactionsListResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/MerchantTransactionsResponse'
      example:
        status: OK
        result:
          page: 1
          perPage: 20
          totalItems: 2
          totalPages: 1
          data:
            - id: 170776
              type: INTERNAL_PAYMENT
              amount:
                amount:
                  number: "250.00"
                  unit: "USDT"
                usdValue:
                  number: "250.00"
                  unit: "USD"
                irtValue:
                  number: "15750000"
                  unit: "IRT"
              fee:
                number: "2.50"
                unit: "USDT"
              feeValue:
                number: "2.50"
                unit: "USD"
              timestamp: "2026-03-16T09:45:12Z"
              supportCode: "TX-9F3K2M1"
              internalPaymentTransactionDto:
                applicationInvoice:
                  type: INTERNAL_CRYPTO
                  amount:
                    number: "250.00"
                    unit: "USDT"
                  supportCode: "AI-8LEYRQH-G8HM"
                  orderId: "ORDER-1001"
                  description: "خرید اشتراک ویژه"
                  createdAt: "2026-03-16T09:40:00Z"
                  status: PAID
                  extraStatus: null
                amount:
                  amount:
                    number: "250.00"
                    unit: "USDT"
                  usdValue:
                    number: "250.00"
                    unit: "USD"
                  irtValue:
                    number: "15750000"
                    unit: "IRT"
              externalPaymentTransactionDto: null
              settlementTransactionDto: null
            - id: 170778
              type: SETTLEMENT
              amount:
                amount:
                  number: "5000000"
                  unit: "IRT"
                usdValue:
                  number: "79.37"
                  unit: "USD"
                irtValue:
                  number: "5000000"
                  unit: "IRT"
              fee:
                number: "0"
                unit: "IRT"
              feeValue:
                number: "0"
                unit: "USD"
              timestamp: "2026-03-16T14:20:33Z"
              supportCode: "TX-7H5D9N2"
              internalPaymentTransactionDto: null
              externalPaymentTransactionDto: null
              settlementTransactionDto:
                type: OWNER

    MerchantTransactionResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/MerchantTransactionDto'
      example:
        status: OK
        result:
          id: 170776
          type: INTERNAL_PAYMENT
          amount:
            amount:
              number: "250.00"
              unit: "USDT"
            usdValue:
              number: "250.00"
              unit: "USD"
            irtValue:
              number: "15750000"
              unit: "IRT"
          fee:
            number: "2.50"
            unit: "USDT"
          feeValue:
            number: "2.50"
            unit: "USD"
          timestamp: "2026-03-16T09:45:12Z"
          supportCode: "TX-9F3K2M1"
          internalPaymentTransactionDto:
            applicationInvoice:
              type: INTERNAL_CRYPTO
              amount:
                number: "250.00"
                unit: "USDT"
              supportCode: "AI-8LEYRQH-G8HM"
              orderId: "ORDER-1001"
              description: "خرید اشتراک ویژه"
              createdAt: "2026-03-16T09:40:00Z"
              status: PAID
              extraStatus: null
            amount:
              amount:
                number: "250.00"
                unit: "USDT"
              usdValue:
                number: "250.00"
                unit: "USD"
              irtValue:
                number: "15750000"
                unit: "IRT"
          externalPaymentTransactionDto: null
          settlementTransactionDto: null

    MerchantInvoicesListResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/MerchantInvoicesPagination'

    BasicTimeRangeEnum:
      type: string
      enum:
        - DAY
        - WEEK
        - MONTH
      example: WEEK

    MerchantApplicationTotalIncomeDto:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        onHoldAmount:
          $ref: '#/components/schemas/Money'
        numberOfSuccessfulSales:
          type: integer
          example: 42
        totalNumberOfChartIndexes:
          type: integer
          example: 30
        chartBreakdown:
          type: object
          description: |
            داده‌های نمودار به ازای هر index. کلیدها index نمودار هستند.
          additionalProperties:
            $ref: '#/components/schemas/Money'
      example:
        amount:
          number: "1250.75"
          unit: "USD"
        onHoldAmount:
          number: "150.00"
          unit: "USD"
        numberOfSuccessfulSales: 42
        totalNumberOfChartIndexes: 30
        chartBreakdown:
          "0":
            number: "50.00"
            unit: "USD"
          "1":
            number: "75.25"
            unit: "USD"
          "2":
            number: "30.50"
            unit: "USD"

    MerchantTotalIncomeResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/MerchantApplicationTotalIncomeDto'
      example:
        status: OK
        result:
          amount:
            number: "1250.75"
            unit: "USD"
          onHoldAmount:
            number: "150.00"
            unit: "USD"
          numberOfSuccessfulSales: 42
          totalNumberOfChartIndexes: 30
          chartBreakdown:
            "0":
              number: "50.00"
              unit: "USD"
            "1":
              number: "75.25"
              unit: "USD"
            "2":
              number: "30.50"
              unit: "USD"

    ApplicationMemberRoleEnum:
      type: string
      enum:
        - OWNER
        - ADMIN
        - FINANCE
        - ACCOUNTING
        - SALES
        - DEVELOPER
        - SUPPORT
      example: OWNER

    ApplicationMemberDto:
      type: object
      properties:
        applicationUsername:
          type: string
          example: my-shop
        userId:
          type: integer
          format: int64
          example: 101
        name:
          type: string
          example: Ali Ahmadi
        roles:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationMemberRoleEnum'
      example:
        applicationUsername: my-shop
        userId: 101
        name: Ali Ahmadi
        roles:
          - OWNER
          - FINANCE

    ApplicationMembersResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationMemberDto'
      example:
        status: OK
        result:
          - applicationUsername: my-shop
            userId: 101
            name: Ali Ahmadi
            roles:
              - OWNER
              - FINANCE
          - applicationUsername: my-shop
            userId: 102
            name: Sara Karimi
            roles:
              - SUPPORT
              - SALES

    LanguageEnum:
      type: string
      enum:
        - EN
        - FA
        - RU
        - ZH
        - FR
      example: FA

    FeePayerEnum:
      type: string
      enum:
        - USER
        - APPLICATION
      example: APPLICATION

    NetworkEnum:
      type: string
      enum:
        - INTERNAL
        - TRON
        - ETHEREUM
        - BSC
        - TON
        - POLYGON
        - ARBITRUM
        - AVALANCHE
        - OPTIMISM
        - SOLANA
        - FANTOM
        - SUI
        - DOGE
        - BTC
        - ADA
        - XRP
        - NEAR
      example: TRON

    PaymentLinkTypeEnum:
      type: string
      enum:
        - TELEGRAM_BOT
        - TELEGRAM_WEBAPP
        - WEBSITE

    WalletProvidersEnum:
      type: string
      enum:
        - SWAP_WALLET
        - SWAP_WALLET_WEBSITE
        - TRUST_WALLET
        - METAMASK
        - TON_KEEPER
        - TONHUB
        - MYTONWALLET

    TokenNetworkDto:
      type: object
      required:
        - token
        - network
      properties:
        token:
          $ref: '#/components/schemas/TokenEnum'
        network:
          $ref: '#/components/schemas/NetworkEnum'

    InvoicePaymentLinkDto:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PaymentLinkTypeEnum'
        url:
          type: string
          format: uri
      example:
        type: WEBSITE
        url: https://business.swapwallet.app/pay/example

    DeepLinkDto:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/WalletProvidersEnum'
        logo:
          type: string
          format: uri
        url:
          anyOf:
            - type: string
              format: uri
            - type: 'null'
      example:
        name: TRUST_WALLET
        logo: https://example.com/logo.png
        url: trust://pay/example

    AmountAndValueDto:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        usdValue:
          $ref: '#/components/schemas/Money'
        userCurrencyValue:
          $ref: '#/components/schemas/Money'

    CreateResidRequestV1:
      type: object
      required:
        - amount
        - ttl
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        userLanguage:
          anyOf:
            - $ref: '#/components/schemas/LanguageEnum'
            - type: 'null'
        ttl:
          type: integer
          format: int64
          minimum: 300
          maximum: 86400
        webhookUrl:
          anyOf:
            - type: string
              format: uri
              maxLength: 255
            - type: 'null'
        returnUrl:
          anyOf:
            - type: string
              format: uri
              maxLength: 255
            - type: 'null'
        orderId:
          anyOf:
            - type: string
              maxLength: 255
            - type: 'null'
        description:
          anyOf:
            - type: string
              maxLength: 512
            - type: 'null'
        customData:
          anyOf:
            - type: string
              maxLength: 512
            - type: 'null'
        userId:
          anyOf:
            - type: string
              maxLength: 255
            - type: 'null'
        userEmail:
          anyOf:
            - type: string
              format: email
              maxLength: 320
            - type: 'null'
        userPhoneNumber:
          anyOf:
            - type: string
              maxLength: 16
            - type: 'null'

    CreateIrtResidResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        paymentLinks:
          type: array
          items:
            $ref: '#/components/schemas/InvoicePaymentLinkDto'
        expiredAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    CreateIrtResidResponseWrapper:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/CreateIrtResidResponse'

    CreateApplicationInvoiceRequestV2:
      type: object
      required:
        - amount
        - allowedTokens
        - ttl
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        allowedTokens:
          type: array
          items:
            $ref: '#/components/schemas/TokenNetworkDto'
        feePayer:
          anyOf:
            - $ref: '#/components/schemas/FeePayerEnum'
            - type: 'null'
        userLanguage:
          anyOf:
            - $ref: '#/components/schemas/LanguageEnum'
            - type: 'null'
        ttl:
          type: integer
          format: int64
          minimum: 300
          maximum: 21600
        underPaidCoveragePercent:
          anyOf:
            - type: number
              minimum: 0
              maximum: 60
            - type: 'null'
        returnUrl:
          anyOf:
            - type: string
              format: uri
              maxLength: 255
            - type: 'null'
        webhookUrl:
          anyOf:
            - type: string
              format: uri
              maxLength: 255
            - type: 'null'
        orderId:
          anyOf:
            - type: string
              maxLength: 255
            - type: 'null'
        description:
          anyOf:
            - type: string
              maxLength: 512
            - type: 'null'
        customData:
          anyOf:
            - type: string
              maxLength: 512
            - type: 'null'
        userId:
          anyOf:
            - type: string
              maxLength: 255
            - type: 'null'
        userEmail:
          anyOf:
            - type: string
              format: email
              maxLength: 320
            - type: 'null'
        userPhoneNumber:
          anyOf:
            - type: string
              maxLength: 16
            - type: 'null'

    ApplicationInvoiceWithPaymentLinksResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        paymentLinks:
          type: array
          items:
            $ref: '#/components/schemas/InvoicePaymentLinkDto'
        expiredAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    ApplicationInvoiceWithPaymentLinksResponseWrapper:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationInvoiceWithPaymentLinksResponse'

    CreateApplicationInvoiceWithTemporaryWalletRequest:
      type: object
      required:
        - amount
        - allowedToken
        - network
        - ttl
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        allowedToken:
          $ref: '#/components/schemas/TokenEnum'
        network:
          $ref: '#/components/schemas/NetworkEnum'
        webhookUrl:
          anyOf:
            - type: string
              format: uri
              maxLength: 255
            - type: 'null'
        returnUrl:
          anyOf:
            - type: string
              format: uri
              maxLength: 255
            - type: 'null'
        ttl:
          type: integer
          format: int64
          minimum: 300
          maximum: 21600
        underPaidCoveragePercent:
          anyOf:
            - type: number
              minimum: 0
              maximum: 60
            - type: 'null'
        orderId:
          anyOf:
            - type: string
              maxLength: 255
            - type: 'null'
        customData:
          anyOf:
            - type: string
              maxLength: 512
            - type: 'null'
        description:
          anyOf:
            - type: string
              maxLength: 512
            - type: 'null'
        userId:
          anyOf:
            - type: string
              maxLength: 255
            - type: 'null'
        userEmail:
          anyOf:
            - type: string
              format: email
              maxLength: 320
            - type: 'null'
        userPhoneNumber:
          anyOf:
            - type: string
              maxLength: 16
            - type: 'null'
        userLanguage:
          anyOf:
            - $ref: '#/components/schemas/LanguageEnum'
            - type: 'null'
        userTelegramId:
          anyOf:
            - type: integer
              format: int64
            - type: 'null'

    CreateApplicationInvoiceWithTemporaryWalletResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        walletAddress:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/DeepLinkDto'
        amount:
          $ref: '#/components/schemas/AmountAndValueDto'
        expiredAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    CreateApplicationInvoiceWithTemporaryWalletResponseWrapper:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/CreateApplicationInvoiceWithTemporaryWalletResponse'

    ApplicationInvoiceTypeEnum:
      type: string
      enum:
        - TEMP_WALLET
        - FIAT_INVOICE
        - CRYPTO_INVOICE
      example: CRYPTO_INVOICE

    ApplicationInvoiceBlockchainStatusEnum:
      type: string
      enum:
        - NOT_SEEN
        - NOT_CONFIRM
        - CONFIRMED
      example: CONFIRMED

    ApplicationInvoiceWalletDto:
      type: object
      properties:
        network:
          $ref: '#/components/schemas/NetworkEnum'
        token:
          $ref: '#/components/schemas/TokenEnum'
        address:
          type: string
        validUntil:
          type: string
          format: date-time
        deepLinks:
          type: array
          items:
            $ref: '#/components/schemas/DeepLinkDto'
      example:
        network: TRON
        token: USDT
        address: "TExampleWalletAddress123"
        validUntil: "2026-03-30T15:00:00Z"
        deepLinks:
          - name: TRUST_WALLET
            logo: "https://example.com/trust-wallet.png"
            url: "trust://pay/example"
          - name: METAMASK
            logo: "https://example.com/metamask.png"
            url: "metamask://pay/example"

    ApplicationInvoiceV2Dto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        supportCode:
          type: string
        status:
          $ref: '#/components/schemas/ApplicationInvoiceStatusEnum'
        description:
          anyOf:
            - type: string
            - type: 'null'
        customData:
          anyOf:
            - type: string
            - type: 'null'
        wallet:
          anyOf:
            - $ref: '#/components/schemas/ApplicationInvoiceWalletDto'
            - type: 'null'
        ownerId:
          type: integer
          format: int64
        telegramInlineMessageId:
          anyOf:
            - type: string
            - type: 'null'
        userLanguage:
          anyOf:
            - $ref: '#/components/schemas/LanguageEnum'
            - type: 'null'
        returnUrl:
          anyOf:
            - type: string
              format: uri
            - type: 'null'
        webhookUrl:
          anyOf:
            - type: string
              format: uri
            - type: 'null'
        orderId:
          anyOf:
            - type: string
            - type: 'null'
        amount:
          anyOf:
            - $ref: '#/components/schemas/Money'
            - type: 'null'
        value:
          anyOf:
            - $ref: '#/components/schemas/Money'
            - type: 'null'
        feePayer:
          $ref: '#/components/schemas/FeePayerEnum'
        feeAmount:
          anyOf:
            - $ref: '#/components/schemas/Money'
            - type: 'null'
        paymentLinks:
          type: array
          items:
            $ref: '#/components/schemas/InvoicePaymentLinkDto'
        paidAt:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
        blockchainStatus:
          anyOf:
            - $ref: '#/components/schemas/ApplicationInvoiceBlockchainStatusEnum'
            - type: 'null'
        userId:
          anyOf:
            - type: string
            - type: 'null'
        userEmail:
          anyOf:
            - type: string
              format: email
            - type: 'null'
        userPhoneNumber:
          anyOf:
            - type: string
            - type: 'null'
        expiredAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    ApplicationInvoicesFullDataPagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        totalItems:
          type: integer
          format: int64
        totalPages:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationInvoiceV2Dto'

    ApplicationInvoicesFullDataListResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationInvoicesFullDataPagination'

    ApplicationInvoiceV2Response:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationInvoiceV2Dto'

    ApplicationMemberInvitationStatusEnum:
      type: string
      enum:
        - PENDING
        - ACCEPTED
        - CANCELLED
        - EXPIRED
      example: PENDING

    ApplicationMemberInvitationRequest:
      type: object
      required:
        - name
        - roles
      properties:
        name:
          type: string
          example: Ali Ahmadi
        roles:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ApplicationMemberRoleEnum'
      example:
        name: Ali Ahmadi
        roles:
          - SUPPORT
          - SALES

    ApplicationMemberInvitationDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        applicationUsername:
          type: string
          example: my-shop
        name:
          type: string
          example: Ali Ahmadi
        roles:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationMemberRoleEnum'
        token:
          type: string
          format: uuid
          example: f6f56d2a-2f5d-4ed8-9103-6f8b0f91a8d1
        status:
          $ref: '#/components/schemas/ApplicationMemberInvitationStatusEnum'
      example:
        id: 1
        applicationUsername: my-shop
        name: Ali Ahmadi
        roles:
          - SUPPORT
          - SALES
        token: f6f56d2a-2f5d-4ed8-9103-6f8b0f91a8d1
        status: PENDING

    InvitationTokenResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          type: string
          format: uuid
          description: توکن دعوت ایجادشده
          example: f6f56d2a-2f5d-4ed8-9103-6f8b0f91a8d1

    ApplicationMemberInvitationsResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationMemberInvitationDto'

    EmptySuccessResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
      example:
        status: OK

    ApplicationTypeEnum:
      type: string
      enum:
        - API
        - MANUAL
      example: API

    ApplicationDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 101
        type:
          $ref: '#/components/schemas/ApplicationTypeEnum'
        ownerId:
          type: integer
          format: int64
          example: 12
        supportCode:
          type: string
          example: APP-8LEYRQH-G8HM
        status:
          $ref: '#/components/schemas/ApplicationStatusEnum'
        username:
          type: string
          example: my-shop
        logo:
          anyOf:
            - type: string
              format: uri
            - type: 'null'
        name:
          type: string
          example: My Shop
        description:
          anyOf:
            - type: string
            - type: 'null'
        website:
          anyOf:
            - type: string
              format: uri
            - type: 'null'
        webhookUrl:
          anyOf:
            - type: string
              format: uri
            - type: 'null'
        deepLinks:
          type: array
          items:
            $ref: '#/components/schemas/WalletProvidersEnum'
        feePayer:
          $ref: '#/components/schemas/FeePayerEnum'
      example:
        id: 101
        type: API
        ownerId: 12
        supportCode: APP-8LEYRQH-G8HM
        status: ACTIVE
        username: my-shop
        logo: https://swapwallet.app/media/logo.png
        name: My Shop
        description: فروشگاه نمونه
        website: https://example.com
        webhookUrl: https://example.com/webhook
        deepLinks:
          - SWAP_WALLET
          - TRUST_WALLET
          - METAMASK
        feePayer: APPLICATION

    ApplicationResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationDto'
      example:
        status: OK
        result:
          id: 101
          type: API
          ownerId: 12
          supportCode: APP-8LEYRQH-G8HM
          status: ACTIVE
          username: my-shop
          logo: https://swapwallet.app/media/logo.png
          name: My Shop
          description: فروشگاه نمونه
          website: https://example.com
          webhookUrl: https://example.com/webhook
          deepLinks:
            - SWAP_WALLET
            - TRUST_WALLET
            - METAMASK
          feePayer: APPLICATION

    SettlementRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          $ref: '#/components/schemas/Money'
      example:
        amount:
          number: "500000"
          unit: "IRT"

    ApplicationInvoiceWebhookStatusEnum:
      type: string
      enum:
        - DISABLED
        - PENDING
        - SUCCEED
        - FAILED
      example: FAILED

    WebhookRequestDto:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          example: a7d0cb53-b035-44b4-b48e-4b04a59d5f97
        url:
          type: string
          format: uri
          example: https://example.com/webhook
        requestBody:
          type: string
          example: "{\"invoiceId\":\"c7f4df74-0168-4a58-b04b-3fe4c0dd9e11\",\"status\":\"PAID\"}"
        responseBody:
          anyOf:
            - type: string
            - type: 'null'
          example: "{\"message\":\"invalid signature\"}"
        status:
          type: integer
          example: 400
        succeed:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
          example: "2026-03-30T12:00:00Z"

    InvoiceWebhookDto:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ApplicationInvoiceWebhookStatusEnum'
        calls:
          type: array
          items:
            $ref: '#/components/schemas/WebhookRequestDto'
      example:
        status: FAILED
        calls:
          - requestId: a7d0cb53-b035-44b4-b48e-4b04a59d5f97
            url: https://example.com/webhook
            requestBody: "{\"invoiceId\":\"c7f4df74-0168-4a58-b04b-3fe4c0dd9e11\",\"status\":\"PAID\"}"
            responseBody: "{\"message\":\"invalid signature\"}"
            status: 400
            succeed: false
            createdAt: "2026-03-30T12:00:00Z"

    InvoiceWebhookResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/InvoiceWebhookDto'
      example:
        status: OK
        result:
          status: FAILED
          calls:
            - requestId: a7d0cb53-b035-44b4-b48e-4b04a59d5f97
              url: https://example.com/webhook
              requestBody: "{\"invoiceId\":\"c7f4df74-0168-4a58-b04b-3fe4c0dd9e11\",\"status\":\"PAID\"}"
              responseBody: "{\"message\":\"invalid signature\"}"
              status: 400
              succeed: false
              createdAt: "2026-03-30T12:00:00Z"
