openapi: 3.1.0

info:
  version: 1.0.0
  title: مستندات API سواپ‌ولت برای پنل مدیریت فروشگاه‌ها
  description: |
    این مستند برای آشنایی شما با API [سواپ‌ولت](https://business.swapwallet.app) تهیه شده است تا بتوانید بیشترین بهره را از حساب کاربری خود ببرید.

    با استفاده از API سواپ‌ولت، می‌توانید کارهایی مانند موارد زیر را انجام دهید:
    - مدیریت کیف پول و تراکنش‌ها
    - دریافت و ارسال پرداخت‌ها
    - مشاهده وضعیت تراکنش‌ها
    - اتصال سرویس‌های خودکار به حساب سواپ‌ولت

    ---

    ## پیش‌نیازها و قوانین

    پیش از استفاده از APIها، لطفاً [قوانین استفاده از سواپ‌ولت](https://swapwallet.app/tos) را مطالعه کرده و بپذیرید.
    همچنین برای دریافت اطلاعیه‌های رسمی و تغییرات نسخه‌ها، در [گروه اطلاع‌رسانی سواپ‌ولت](https://t.me/SwapWalletGroup) عضو شوید.

    ---

    ## راهنمای شروع

    اگر برای اولین بار از API استفاده می‌کنید، پیشنهاد می‌شود ابتدا بخش **راهنمای شروع به کار با API** را مطالعه کنید تا با نحوه‌ی احراز هویت و ساخت درخواست‌ها آشنا شوید.

    ---

    ## دریافت کلید فروشگاه

    برای استفاده از API فروشگاه لازم است یک **کلید API** برای فروشگاه خود ایجاد کنید.

    مراحل دریافت:
    1. ورود به [پنل مدیریت فروشگاه](https://business.swapwallet.app)
    2. ورود به فروشگاه مورد نظر
    3. رفتن به بخش **تنظیمات ← کلید دسترسی (API Key)**
    4. کلیک روی گزینه‌ی **دریافت کلید**

    سپس کلید خود را در هدر درخواست‌ها به‌صورت زیر ارسال کنید:

    ```http
    Authorization: Bearer business-xxx
    ```

    > [!note]
    > هر فروشگاه کلید اختصاصی خود را دارد و برای فروشگاه‌های دیگر باید همین روند را برای فروشگاه مدنظر طی کنید.

    > [!note]
    > کلیدهای API برای استفاده‌ی برنامه‌نویسی بهینه‌سازی شده‌اند؛ هنگام استفاده از این کلیدها، محدودیت‌های دومرحله‌ای نظیر ایمیل، پیامک و Google Authenticator اعمال نمی‌شوند.

    > [!note]
    > اگر به کلیدی با دسترسی‌های خاص (مانند محدودیت روی IP مشخص یا سطح دسترسی سفارشی) نیاز دارید، با پشتیبانی ما تماس بگیرید.

    ---

    ## جایگزینی کلید فروشگاه

    برای غیرفعال‌سازی کلید فعلی و صدور کلید جدید:

    **تنظیمات ← کلید دسترسی (API Key) ← بازنشانی کلید**

    پس از تأیید، کلید قبلی بلافاصله از کار می‌افتد و یک کلید جدید برای شما صادر می‌شود.

    ---

    ## نکات امنیتی

    > [!caution] **هشدار امنیتی**
    > توکن خود را تحت هیچ شرایطی با دیگران به اشتراک نگذارید.
    > در صورت لو رفتن یا شک به دسترسی غیرمجاز، فوراً از طریق پنل فروشگاه مورد نظر، توکن خود را منقضی کرده و توکن جدید دریافت کنید.

    در صورت نیاز به استفاده از توکن در کد، مطمئن شوید که با روش‌های امن نگهداری داده‌های حساس آشنا هستید (مانند متغیرهای محیطی و رمزنگاری فایل‌های پیکربندی).

    ---

    ✨ با رعایت این نکات، می‌توانید به‌صورت ایمن و مؤثر از API سواپ‌ولت در پروژه‌های خود استفاده کنید.

servers:
  - url: https://swapwallet.app/api
    description: سرور پروداکشن

tags:
  - name: اطلاعات فروشگاه
    description: |
      اطلاعات فروشگاه خود را مشاهده کنید.

  - name: موجودی
    description: |
      موجودی لحظه‌ای حساب خود را به تفکیک هر توکن مشاهده کنید.

  - name: برداشت کریپتو
    description: |
      توکن‌های کریپتو را به آدرس دلخواه روی شبکه‌های پشتیبانی‌شده برداشت کنید.

      فرایند برداشت در دو مرحله انجام می‌شود:

      1. **دریافت تنظیمات** — تنظیمات شبکه را دریافت کنید تا از کارمزد، محدودیت مقدار، و پشتیبانی از memo مطلع شوید.
      2. **ارسال درخواست برداشت** — درخواست را با مقدار، شبکه، و آدرس مقصد ارسال کنید.

      ## نحوه‌ی کسر کارمزد

      | مقدار `feeDeductType` | رفتار |
      |---|---|
      | `INTERNAL` | کارمزد از مقدار اصلی کسر می‌شود؛ گیرنده کمتر از مقدار درخواستی دریافت می‌کند |
      | `EXTERNAL` | کارمزد از موجودی کیف پول کسر می‌شود؛ مقدار برداشت دقیقاً همان عدد درخواستی باقی می‌ماند |

      > [!note]
      > فیلد `fee` اختیاری است و در صورت ارسال، سرور مقدار آن را با کارمزد واقعی مقایسه می‌کند. اگر مقادیر مطابقت نداشته باشند، درخواست با خطا رد می‌شود.

      > [!note]
      > فیلد `memo` تنها برای شبکه‌هایی که از آن پشتیبانی می‌کنند معتبر است و در غیر این صورت نادیده گرفته می‌شود. وضعیت پشتیبانی را از طریق فیلد `supportMemo` در endpoint تنظیمات بررسی کنید.

  - name: برداشت ریالی
    description: |
      وجه ریالی را به شماره شبای ثبت‌شده در حساب خود برداشت کنید.

      فرایند برداشت در دو مرحله انجام می‌شود:

      1. **دریافت تنظیمات** — با ارسال شبا و مقدار، کارمزد دقیق، مقدار دریافتی، و زمان تخمینی تسویه را دریافت کنید.
      2. **ارسال درخواست برداشت** — درخواست را با مقدار، شبا، و نحوه‌ی کسر کارمزد ارسال کنید.

      > [!warning]
      > شبا باید متعلق به خود شما باشد. استفاده از شبای دیگران مجاز نیست و درخواست رد خواهد شد.

  - name: تراکنش‌ها
    description: |
      با استفاده از این APIها می‌توانید اطلاعات تراکنش‌های حساب فروشگاه خود را دریافت کنید.

      هر تراکنش دارای یک فیلد `type` است که نوع آن را مشخص می‌کند. بسته به نوع تراکنش، یکی از آبجکت‌های جزئیات اختصاصی در پاسخ موجود خواهد بود:

      | نوع (`type`) | شرح | آبجکت جزئیات |
      |---|---|---|
      | `INTERNAL_PAYMENT` | پرداخت داخلی | `internalPaymentTransactionDto` |
      | `EXTERNAL_PAYMENT` | پرداخت خارجی | `externalPaymentTransactionDto` |
      | `SETTLEMENT` | تسویه | `settlementTransactionDto` |

  - name: فاکتور
    description: |
      با استفاده از این APIها می‌توانید فاکتورهای پرداخت کریپتویی برای فروشگاه خود ایجاد و مدیریت کنید.

      کاربر پس از دریافت لینک پرداخت، مبلغ را مستقیماً به کیف پول اختصاص‌یافته واریز می‌کند. پس از تأیید تراکنش روی شبکه، وب‌هوک شما فراخوانی می‌شود.

  - name: رسید
    description: |
      رسیدها برای دریافت پرداخت با **مقدار ثابت به تومان (IRT)** طراحی شده‌اند.

      مقدار دریافتی نهایی در لحظه‌ی پرداخت بر اساس نرخ لحظه‌ای محاسبه و به معادل کریپتو تبدیل می‌شود.

  - name: قیمت‌های فروشگاه
    description: |
      قیمت فعلی تمام محصولات موجود در فروشگاه سواپ‌ولت را دریافت کنید.

  - name: خدمات تلگرامی
    description: |
      محصولات تلگرامی را مستقیماً از کیف پول سواپ‌ولت خریداری کنید.

      خرید بلافاصله پس از ارسال درخواست انجام می‌شود و نتیجه در قالب یک تراکنش از نوع `PAYMENT` برگردانده می‌شود.

      ## تلگرام استارز

      استارز تلگرام به حساب کاربری با `username` مشخص‌شده ارسال می‌شود. تعداد مجاز: **۱۰۰، ۲۵۰، ۵۰۰، ۱۰۰۰، ۵۰۰۰**.

      ## تلگرام پریمیوم

      اشتراک تلگرام پریمیوم برای کاربر مشخص‌شده فعال می‌شود. مدت‌های مجاز: **۳ ماه، ۶ ماه، ۱۲ ماه**.

x-tagGroups:
  - name: عمومی
    tags:
      - اطلاعات فروشگاه
      - تراکنش‌ها
  - name: کیف پول
    tags:
      - موجودی
      - برداشت کریپتو
      - برداشت ریالی
  - name: فروشگاه
    tags:
      - قیمت‌های فروشگاه
      - خدمات تلگرامی
  - name: درگاه پرداخت کریپتویی
    tags:
      - فاکتور
  - name: رسید پرداخت
    tags:
      - رسید

paths:
  /v1/merchants/info:
    get:
      tags:
        - اطلاعات فروشگاه
      summary: اطلاعات فروشگاه
      description: |
        با استفاده از این API می‌توانید اطلاعات کلی فروشگاه خود را مشاهده نمایید.
      operationId: getInfo
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: اطلاعات فروشگاه با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInformationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v1/merchants/balance:
    get:
      tags:
        - موجودی
      summary: موجودی همه‌ی توکن‌ها
      description: |
        لیست موجودی حساب به تفکیک تمام توکن‌های پشتیبانی‌شده را برمی‌گرداند.
      operationId: getAllBalances
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: موجودی‌ها با موفقیت دریافت شدند
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalBalanceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v1/merchants/balance/{token}:
    get:
      tags:
        - موجودی
      summary: موجودی یک توکن
      description: |
        موجودی حساب برای یک توکن مشخص را برمی‌گرداند.
      operationId: getTokenBalance
      parameters:
        - name: token
          in: path
          required: true
          description: نماد توکن (مثلاً USDT، TON)
          schema:
            $ref: '#/components/schemas/TokenEnum'
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: موجودی با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBalanceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: توکن یافت نشد

  /v1/merchants/transactions:
    get:
      tags:
        - تراکنش‌ها
      summary: دریافت لیست تراکنش‌ها
      description: |
        لیست تراکنش‌های فروشگاه را برمی‌گرداند.

        این endpoint از **pagination**، **sorting** و **filtering** پشتیبانی می‌کند.

        برای هر تراکنش، بسته به مقدار فیلد `type`، فقط یکی از آبجکت‌های زیر مقدار خواهد داشت:

        - `internalPaymentTransactionDto`
        - `externalPaymentTransactionDto`
        - `settlementTransactionDto`
      operationId: getTransactions
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/TransactionsSortedByParam'
        - $ref: '#/components/parameters/DirectionParam'
        - name: supportCode
          in: query
          required: false
          description: فیلتر بر اساس کد پشتیبانی تراکنش
          schema:
            type: string
            example: TX-9F3K2M1
        - name: transactionTypes
          in: query
          required: false
          description: |
            فیلتر بر اساس نوع تراکنش.

            می‌توان چند مقدار ارسال کرد.

            مثال:
            `transactionTypes=INTERNAL_PAYMENT&transactionTypes=SETTLEMENT`
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MerchantTransactionTypeEnum'
          example:
            - INTERNAL_PAYMENT
            - SETTLEMENT
      responses:
        '200':
          description: لیست تراکنش‌ها با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTransactionsListResponse'
              examples:
                defaultResponse:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      page: 0
                      perPage: 10
                      totalItems: 2
                      totalPages: 1
                      data:
                        - id: 170776
                          type: INTERNAL_PAYMENT
                          amount:
                            amount:
                              number: "250.00"
                              unit: "USDT"
                            usdValue:
                              number: "250.00"
                              unit: "USD"
                            irtValue:
                              number: "15750000"
                              unit: "IRT"
                          fee:
                            number: "2.50"
                            unit: "USDT"
                          feeValue:
                            number: "2.50"
                            unit: "USD"
                          timestamp: "2026-03-16T09:45:12Z"
                          supportCode: "TX-9F3K2M1"
                          internalPaymentTransactionDto:
                            applicationInvoice:
                              type: INTERNAL_CRYPTO
                              amount:
                                number: "250.00"
                                unit: "USDT"
                              supportCode: "AI-8LEYRQH-G8HM"
                              orderId: "ORDER-1001"
                              description: "خرید اشتراک ویژه"
                              createdAt: "2026-03-16T09:40:00Z"
                              status: PAID
                              extraStatus: null
                            amount:
                              amount:
                                number: "250.00"
                                unit: "USDT"
                              usdValue:
                                number: "250.00"
                                unit: "USD"
                              irtValue:
                                number: "15750000"
                                unit: "IRT"
                          externalPaymentTransactionDto: null
                          settlementTransactionDto: null
                        - id: 170778
                          type: SETTLEMENT
                          amount:
                            amount:
                              number: "5000000"
                              unit: "IRT"
                            usdValue:
                              number: "79.37"
                              unit: "USD"
                            irtValue:
                              number: "5000000"
                              unit: "IRT"
                          fee:
                            number: "0"
                            unit: "IRT"
                          feeValue:
                            number: "0"
                            unit: "USD"
                          timestamp: "2026-03-16T14:20:33Z"
                          supportCode: "TX-7H5D9N2"
                          internalPaymentTransactionDto: null
                          externalPaymentTransactionDto: null
                          settlementTransactionDto:
                            type: OWNER
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /v1/merchants/transactions/{transactionId}:
    get:
      tags:
        - تراکنش‌ها
      summary: دریافت تراکنش با شناسه
      description: |
        اطلاعات کامل یک تراکنش را بر اساس شناسه‌ی عددی آن برمی‌گرداند.

        بسته به مقدار فیلد `type`، فقط یکی از آبجکت‌های جزئیات
        (`internalPaymentTransactionDto`، `externalPaymentTransactionDto`، `settlementTransactionDto`)
        مقدار خواهد داشت و بقیه `null` هستند.
      operationId: getTransactionById
      parameters:
        - name: transactionId
          in: path
          required: true
          description: شناسه‌ی عددی تراکنش
          schema:
            type: integer
            format: int64
            example: 170776
        - $ref: '#/components/parameters/AuthorizationHeader'
      responses:
        '200':
          description: تراکنش با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTransactionResponse'
              examples:
                internalPayment:
                  summary: نمونه پاسخ برای پرداخت داخلی
                  value:
                    status: OK
                    result:
                      id: 170776
                      type: INTERNAL_PAYMENT
                      amount:
                        amount:
                          number: "250.00"
                          unit: "USDT"
                        usdValue:
                          number: "250.00"
                          unit: "USD"
                        irtValue:
                          number: "15750000"
                          unit: "IRT"
                      fee:
                        number: "2.50"
                        unit: "USDT"
                      feeValue:
                        number: "2.50"
                        unit: "USD"
                      timestamp: "2026-03-16T09:45:12Z"
                      supportCode: "TX-9F3K2M1"
                      internalPaymentTransactionDto:
                        applicationInvoice:
                          type: INTERNAL_CRYPTO
                          amount:
                            number: "250.00"
                            unit: "USDT"
                          supportCode: "AI-8LEYRQH-G8HM"
                          orderId: "ORDER-1001"
                          description: "خرید اشتراک ویژه"
                          createdAt: "2026-03-16T09:40:00Z"
                          status: PAID
                          extraStatus: null
                        amount:
                          amount:
                            number: "250.00"
                            unit: "USDT"
                          usdValue:
                            number: "250.00"
                            unit: "USD"
                          irtValue:
                            number: "15750000"
                            unit: "IRT"
                      externalPaymentTransactionDto: null
                      settlementTransactionDto: null

                externalPayment:
                  summary: نمونه پاسخ برای پرداخت خارجی
                  value:
                    status: OK
                    result:
                      id: 170777
                      type: EXTERNAL_PAYMENT
                      amount:
                        amount:
                          number: "1000000"
                          unit: "IRT"
                        usdValue:
                          number: "15.87"
                          unit: "USD"
                        irtValue:
                          number: "1000000"
                          unit: "IRT"
                      fee:
                        number: "50000"
                        unit: "IRT"
                      feeValue:
                        number: "0.79"
                        unit: "USD"
                      timestamp: "2026-03-16T11:10:05Z"
                      supportCode: "TX-2L8P7Q4"
                      internalPaymentTransactionDto: null
                      externalPaymentTransactionDto:
                        applicationInvoice:
                          type: EXTERNAL_BLOCKCHAIN
                          amount:
                            number: "1000000"
                            unit: "IRT"
                          supportCode: "AI-2ZMN4TR-K1PL"
                          orderId: "ORDER-1002"
                          description: "پرداخت از طریق شبکه"
                          createdAt: "2026-03-16T11:00:00Z"
                          status: PAID
                          extraStatus: OVER_PAID
                      settlementTransactionDto: null

                settlement:
                  summary: نمونه پاسخ برای تراکنش تسویه
                  value:
                    status: OK
                    result:
                      id: 170778
                      type: SETTLEMENT
                      amount:
                        amount:
                          number: "5000000"
                          unit: "IRT"
                        usdValue:
                          number: "79.37"
                          unit: "USD"
                        irtValue:
                          number: "5000000"
                          unit: "IRT"
                      fee:
                        number: "0"
                        unit: "IRT"
                      feeValue:
                        number: "0"
                        unit: "USD"
                      timestamp: "2026-03-16T14:20:33Z"
                      supportCode: "TX-7H5D9N2"
                      internalPaymentTransactionDto: null
                      externalPaymentTransactionDto: null
                      settlementTransactionDto:
                        type: OWNER
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '404':
          description: تراکنش یافت نشد

  /v1/merchants/invoices:
    get:
      tags:
        - فاکتور
      summary: دریافت لیست فاکتورهای فروشگاه
      description: |
        لیست فاکتورهای ایجاد شده برای فروشگاه را برمی‌گرداند.

        این endpoint از **pagination**، **sorting** و **filtering** پشتیبانی می‌کند.

        می‌توانید نتایج را بر اساس:
        - نوع فاکتور (`invoiceTypes`)
        - وضعیت فاکتور (`invoiceStatuses`)
        - جستجو (`search`)
        فیلتر کنید.
      operationId: getRecentApplicationInvoices
      parameters:
        - $ref: '#/components/parameters/AuthorizationHeader'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/InvoicesSortedByParam'
        - $ref: '#/components/parameters/DirectionParam'
        - name: search
          in: query
          required: false
          description: جستجو در فیلدهای فاکتور مانند `supportCode` یا `orderId`
          schema:
            type: string
            example: AI-8LEYRQH-G8HM
        - name: invoiceTypes
          in: query
          required: false
          description: |
            فیلتر بر اساس نوع فاکتور.

            مثال:
            `invoiceTypes=INTERNAL_CRYPTO&invoiceTypes=EXTERNAL_BLOCKCHAIN`
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MerchantApplicationInvoiceTypeEnum'
          example:
            - INTERNAL_CRYPTO
            - EXTERNAL_BLOCKCHAIN
        - name: invoiceStatuses
          in: query
          required: false
          description: |
            فیلتر بر اساس وضعیت فاکتور.

            مثال:
            `invoiceStatuses=ACTIVE&invoiceStatuses=PAID`
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ApplicationInvoiceStatusEnum'
          example:
            - ACTIVE
            - PAID
      responses:
        '200':
          description: لیست فاکتورها با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantInvoicesListResponse'
              examples:
                invoicesExample:
                  summary: نمونه پاسخ
                  value:
                    status: OK
                    result:
                      page: 0
                      perPage: 10
                      totalItems: 2
                      totalPages: 1
                      data:
                        - type: INTERNAL_CRYPTO
                          amount:
                            number: "100.50"
                            unit: "USDT"
                          supportCode: "AI-8LEYRQH-G8HM"
                          orderId: "ORDER-1001"
                          description: "پرداخت اشتراک"
                          createdAt: "2026-03-15T12:10:00Z"
                          status: PAID
                          extraStatus: null
                        - type: EXTERNAL_BLOCKCHAIN
                          amount:
                            number: "500000"
                            unit: "IRT"
                          supportCode: "AI-2ZMN4TR-K1PL"
                          orderId: "ORDER-1002"
                          description: "پرداخت از طریق شبکه"
                          createdAt: "2026-03-16T10:05:00Z"
                          status: ACTIVE
                          extraStatus: null
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

components:
  parameters:
    AuthorizationHeader:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer business-fLzqwAAvChZUtMcpNc77gRnDZg52daMmVxns5VXyVLbCT2OI1lSHdMNrF49vv50p
      description: هدر احراز هویت پنل فروشگاه

    PageParam:
      name: page
      in: query
      required: false
      description: شماره صفحه (از صفر شروع می‌شود)
      schema:
        type: integer
        minimum: 0
        default: 0
        example: 0

    LimitParam:
      name: limit
      in: query
      required: false
      description: تعداد آیتم‌های هر صفحه
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
        example: 10

    DirectionParam:
      name: direction
      in: query
      required: false
      description: جهت مرتب‌سازی
      schema:
        type: string
        enum:
          - ASC
          - DESC
        default: DESC
        example: DESC

    TransactionsSortedByParam:
      name: sortedBy
      in: query
      required: false
      description: فیلد مرتب‌سازی در لیست تراکنش‌ها
      schema:
        type: string
        default: id
        example: timestamp

    InvoicesSortedByParam:
      name: sortedBy
      in: query
      required: false
      description: فیلد مرتب‌سازی در لیست فاکتورها
      schema:
        type: string
        default: createdAt
        example: createdAt

  responses:
    UnauthorizedResponse:
      description: عدم احراز هویت

  schemas:
    ResponseStatusEnum:
      type: string
      enum:
        - OK
        - ERROR

    TokenEnum:
      type: string
      enum:
        - USDT
        - TON
        - TRX
        - IRT
        - ETH
        - BNB

    Money:
      type: object
      required:
        - number
        - unit
      properties:
        number:
          type: string
        unit:
          type: string
          description: واحد ارزی (مثلاً USDT، IRT، USD)
      example:
        number: "100.50"
        unit: "USDT"

    TotalValueDto:
      type: object
      properties:
        available:
          type: array
          items:
            $ref: '#/components/schemas/Money'
        onHold:
          type: array
          items:
            $ref: '#/components/schemas/Money'

    TokenAmountAndValueDto:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Money'

    MarketDataDTO:
      type: object
      properties:
        bestSell:
          type: string
        bestBuy:
          type: string
        latestPrice:
          type: string
        dayChange:
          type: string
        volume24h:
          type: string

    ExternalMarketDataDTO:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/TokenEnum'
        destination:
          $ref: '#/components/schemas/TokenEnum'
        marketData:
          $ref: '#/components/schemas/MarketDataDTO'

    TokensBalanceDto:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/TokenEnum'
        available:
          $ref: '#/components/schemas/TokenAmountAndValueDto'
        onHold:
          $ref: '#/components/schemas/TokenAmountAndValueDto'
        marketData:
          type: array
          items:
            $ref: '#/components/schemas/ExternalMarketDataDTO'
      example:
        name: USDT
        available:
          amount:
            number: "100.50"
            unit: "USDT"
          values:
            - number: "100.50"
              unit: "USDT"
            - number: "20100000"
              unit: "IRT"
        onHold:
          amount:
            number: "0"
            unit: "USDT"
          values:
            - number: "0"
              unit: "USDT"
            - number: "0"
              unit: "IRT"
        marketData:
          - source: USDT
            destination: USDT
            marketData:
              bestSell: "1.00"
              bestBuy: "1.00"
              latestPrice: "1.00"
              dayChange: "0.00"
              volume24h: "0.00"
          - source: USDT
            destination: IRT
            marketData:
              bestSell: "200000"
              bestBuy: "200000"
              latestPrice: "200000"
              dayChange: "0.00"
              volume24h: "0.00"

    TotalBalanceDTO:
      type: object
      properties:
        totalValue:
          $ref: '#/components/schemas/TotalValueDto'
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TokensBalanceDto'
      example:
        totalValue:
          available:
            - number: "100.50"
              unit: "USDT"
            - number: "200000"
              unit: "IRT"
          onHold:
            - number: "0"
              unit: "USDT"
            - number: "0"
              unit: "IRT"
        tokens:
          - name: USDT
            available:
              amount:
                number: "100.50"
                unit: "USDT"
              values:
                - number: "100.50"
                  unit: "USDT"
                - number: "20100000"
                  unit: "IRT"
            onHold:
              amount:
                number: "0"
                unit: "USDT"
              values:
                - number: "0"
                  unit: "USDT"
                - number: "0"
                  unit: "IRT"
            marketData:
              - source: USDT
                destination: USDT
                marketData:
                  bestSell: "1.00"
                  bestBuy: "1.00"
                  latestPrice: "1.00"
                  dayChange: "0.00"
                  volume24h: "0.00"
              - source: USDT
                destination: IRT
                marketData:
                  bestSell: "200000"
                  bestBuy: "200000"
                  latestPrice: "200000"
                  dayChange: "0.00"
                  volume24h: "0.00"
          - name: IRT
            available:
              amount:
                number: "200000"
                unit: "IRT"
              values:
                - number: "1.00"
                  unit: "USDT"
                - number: "200000"
                  unit: "IRT"
            onHold:
              amount:
                number: "0"
                unit: "IRT"
              values:
                - number: "0"
                  unit: "USDT"
                - number: "0"
                  unit: "IRT"
            marketData:
              - source: IRT
                destination: USDT
                marketData:
                  bestSell: "0.000005"
                  bestBuy: "0.000005"
                  latestPrice: "0.000005"
                  dayChange: "0.00"
                  volume24h: "0.00"
              - source: IRT
                destination: IRT
                marketData:
                  bestSell: "1"
                  bestBuy: "1"
                  latestPrice: "1"
                  dayChange: "0"
                  volume24h: "0"

    MerchantTransactionTypeEnum:
      type: string
      enum:
        - INTERNAL_PAYMENT
        - EXTERNAL_PAYMENT
        - SETTLEMENT

    AmountAndIrtAndUsdValues:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        usdValue:
          $ref: '#/components/schemas/Money'
        irtValue:
          $ref: '#/components/schemas/Money'

    MerchantApplicationInvoiceTypeEnum:
      type: string
      enum:
        - EXTERNAL_BLOCKCHAIN
        - INTERNAL_FIAT
        - INTERNAL_CRYPTO

    ApplicationInvoiceStatusEnum:
      type: string
      enum:
        - ACTIVE
        - PAID
        - EXPIRED
        - CANCELED

    MerchantApplicationInvoiceExtraStatusEnum:
      type: string
      enum:
        - OVER_PAID
        - UNDER_PAID

    MerchantApplicationInvoiceDto:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/MerchantApplicationInvoiceTypeEnum'
        amount:
          $ref: '#/components/schemas/Money'
        supportCode:
          type: string
          description: کد پشتیبانی
        orderId:
          anyOf:
            - type: string
            - type: 'null'
        description:
          anyOf:
            - type: string
            - type: 'null'
        createdAt:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/ApplicationInvoiceStatusEnum'
        extraStatus:
          anyOf:
            - $ref: '#/components/schemas/MerchantApplicationInvoiceExtraStatusEnum'
            - type: 'null'
      example:
        type: INTERNAL_CRYPTO
        amount:
          number: "100.50"
          unit: "USDT"
        supportCode: "AI-8LEYRQH-G8HM"
        orderId: null
        description: null
        createdAt: "2026-02-24T15:12:01.008878Z"
        status: PAID
        extraStatus: null

    MerchantInternalPaymentTransactionDetailsDto:
      type: object
      properties:
        applicationInvoice:
          $ref: '#/components/schemas/MerchantApplicationInvoiceDto'
        amount:
          $ref: '#/components/schemas/AmountAndIrtAndUsdValues'

    MerchantExternalPaymentTransactionDetailsDto:
      type: object
      properties:
        applicationInvoice:
          $ref: '#/components/schemas/MerchantApplicationInvoiceDto'

    MerchantSettlementTransactionDetailsDto:
      type: object
      properties:
        type:
          type: string

    MerchantTransactionDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: شناسه‌ی عددی تراکنش
        type:
          $ref: '#/components/schemas/MerchantTransactionTypeEnum'
        amount:
          $ref: '#/components/schemas/AmountAndIrtAndUsdValues'
        fee:
          $ref: '#/components/schemas/Money'
        feeValue:
          $ref: '#/components/schemas/Money'
        timestamp:
          type: string
          format: date-time
          description: زمان ثبت تراکنش به فرمت ISO 8601
        supportCode:
          type: string
          description: کد پشتیبانی
        internalPaymentTransactionDto:
          anyOf:
            - $ref: '#/components/schemas/MerchantInternalPaymentTransactionDetailsDto'
            - type: 'null'
        externalPaymentTransactionDto:
          anyOf:
            - $ref: '#/components/schemas/MerchantExternalPaymentTransactionDetailsDto'
            - type: 'null'
        settlementTransactionDto:
          anyOf:
            - $ref: '#/components/schemas/MerchantSettlementTransactionDetailsDto'
            - type: 'null'
      example:
        id: 1
        type: INTERNAL_PAYMENT
        amount:
          amount:
            number: "100.50"
            unit: "USDT"
          usdValue:
            number: "100.50"
            unit: "USD"
          irtValue:
            number: "20100000"
            unit: "IRT"
        fee:
          number: "0.1005"
          unit: "USDT"
        feeValue:
          number: "0.1005"
          unit: "USD"
        timestamp: "2026-03-16T23:17:56.349Z"
        supportCode: "AI-8LEYRQH-G8HM"
        internalPaymentTransactionDto:
          applicationInvoice:
            type: INTERNAL_CRYPTO
            amount:
              number: "100.50"
              unit: "USDT"
            supportCode: "AI-8LEYRQH-G8HM"
            orderId: null
            description: null
            createdAt: "2026-02-24T15:12:01.008878Z"
            status: PAID
            extraStatus: null
          amount:
            amount:
              number: "100.50"
              unit: "USDT"
            usdValue:
              number: "100.50"
              unit: "USD"
            irtValue:
              number: "20100000"
              unit: "IRT"
        externalPaymentTransactionDto: null
        settlementTransactionDto: null

    MerchantTransactionsResponse:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        totalItems:
          type: integer
          format: int64
        totalPages:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/MerchantTransactionDto'

    MerchantInvoicesPagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        totalItems:
          type: integer
          format: int64
        totalPages:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/MerchantApplicationInvoiceDto'

    ApplicationStatusEnum:
      type: string
      enum:
        - ACTIVE
        - INACTIVE
        - DELETED
      example: ACTIVE

    ApplicationInformationDto:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ApplicationStatusEnum'
        username:
          type: string
        name:
          type: string
        description:
          anyOf:
            - type: string
            - type: 'null'
        logo:
          anyOf:
            - type: string
            - type: 'null'
        website:
          anyOf:
            - type: string
            - type: 'null'
        verified:
          type: boolean
      example:
        status: ACTIVE
        username: Foo
        name: Foo
        description: Foo
        logo: https://swapwallet.app/favicon.ico
        website: https://business.swapwallet.app
        verified: true

    ApplicationInformationResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationInformationDto'

    TotalBalanceResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/TotalBalanceDTO'

    TokenBalanceResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/TokensBalanceDto'

    MerchantTransactionsListResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/MerchantTransactionsResponse'
      example:
        status: OK
        result:
          page: 1
          perPage: 20
          totalItems: 2
          totalPages: 1
          data:
            - id: 170776
              type: INTERNAL_PAYMENT
              amount:
                amount:
                  number: "250.00"
                  unit: "USDT"
                usdValue:
                  number: "250.00"
                  unit: "USD"
                irtValue:
                  number: "15750000"
                  unit: "IRT"
              fee:
                number: "2.50"
                unit: "USDT"
              feeValue:
                number: "2.50"
                unit: "USD"
              timestamp: "2026-03-16T09:45:12Z"
              supportCode: "TX-9F3K2M1"
              internalPaymentTransactionDto:
                applicationInvoice:
                  type: INTERNAL_CRYPTO
                  amount:
                    number: "250.00"
                    unit: "USDT"
                  supportCode: "AI-8LEYRQH-G8HM"
                  orderId: "ORDER-1001"
                  description: "خرید اشتراک ویژه"
                  createdAt: "2026-03-16T09:40:00Z"
                  status: PAID
                  extraStatus: null
                amount:
                  amount:
                    number: "250.00"
                    unit: "USDT"
                  usdValue:
                    number: "250.00"
                    unit: "USD"
                  irtValue:
                    number: "15750000"
                    unit: "IRT"
              externalPaymentTransactionDto: null
              settlementTransactionDto: null
            - id: 170778
              type: SETTLEMENT
              amount:
                amount:
                  number: "5000000"
                  unit: "IRT"
                usdValue:
                  number: "79.37"
                  unit: "USD"
                irtValue:
                  number: "5000000"
                  unit: "IRT"
              fee:
                number: "0"
                unit: "IRT"
              feeValue:
                number: "0"
                unit: "USD"
              timestamp: "2026-03-16T14:20:33Z"
              supportCode: "TX-7H5D9N2"
              internalPaymentTransactionDto: null
              externalPaymentTransactionDto: null
              settlementTransactionDto:
                type: OWNER

    MerchantTransactionResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/MerchantTransactionDto'
      example:
        status: OK
        result:
          id: 170776
          type: INTERNAL_PAYMENT
          amount:
            amount:
              number: "250.00"
              unit: "USDT"
            usdValue:
              number: "250.00"
              unit: "USD"
            irtValue:
              number: "15750000"
              unit: "IRT"
          fee:
            number: "2.50"
            unit: "USDT"
          feeValue:
            number: "2.50"
            unit: "USD"
          timestamp: "2026-03-16T09:45:12Z"
          supportCode: "TX-9F3K2M1"
          internalPaymentTransactionDto:
            applicationInvoice:
              type: INTERNAL_CRYPTO
              amount:
                number: "250.00"
                unit: "USDT"
              supportCode: "AI-8LEYRQH-G8HM"
              orderId: "ORDER-1001"
              description: "خرید اشتراک ویژه"
              createdAt: "2026-03-16T09:40:00Z"
              status: PAID
              extraStatus: null
            amount:
              amount:
                number: "250.00"
                unit: "USDT"
              usdValue:
                number: "250.00"
                unit: "USD"
              irtValue:
                number: "15750000"
                unit: "IRT"
          externalPaymentTransactionDto: null
          settlementTransactionDto: null

    MerchantInvoicesListResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/MerchantInvoicesPagination'
