openapi: 3.1.0
info:
  version: 2.0.0
  title: مستندات API سواپ‌ولت
  description: |
    این مستند برای آشنایی شما با API [سواپ‌ولت](https://t.me/SwapWalletBot) تهیه شده است تا بتوانید بیشترین بهره را از حساب کاربری خود ببرید.

    با استفاده از API سواپ‌ولت، می‌توانید کارهایی مانند موارد زیر را انجام دهید:
    - مدیریت کیف پول و تراکنش‌ها  
    - دریافت و ارسال پرداخت‌ها  
    - مشاهده وضعیت تراکنش‌ها  
    - اتصال سرویس‌های خودکار به حساب سواپ‌ولت  

    ---

    ## پیش‌نیازها و قوانین

    پیش از استفاده از APIها، لطفاً  [قوانین استفاده از سواپ‌ولت](https://swapwallet.app/tos) را مطالعه کرده و بپذیرید
    همچنین برای دریافت اطلاعیه‌های رسمی و تغییرات نسخه‌ها، در [گروه اطلاع‌رسانی سواپ‌ولت](https://t.me/SwapWalletGroup) عضو شوید.

    ---

    ## راهنمای شروع

    اگر برای اولین بار از API استفاده می‌کنید، پیشنهاد می‌شود ابتدا بخش **راهنمای شروع به کار با API** را مطالعه کنید تا با نحوه‌ی احراز هویت و ساخت درخواست‌ها آشنا شوید.

    ---

    ## دریافت توکن دسترسی (API Token)

    برای استفاده از API لازم است **توکن شخصی خود را از طریق [بات تلگرامی سواپ‌ولت](https://t.me/SwapWalletBot)** دریافت کنید.

    مراحل دریافت:
    1. ورود به بات  
    2. رفتن به مسیر **تنظیمات ← توسعه‌دهندگان ← ایجاد کلید توسعه**  
    3. دریافت توکن از پیام ارسال‌شده در بات  

    سپس توکن خود را در هدر درخواست‌ها به‌صورت زیر ارسال کنید:

    ```http
    Authorization: <YourToken>
    ```

    > [!note]
    > در حال حاضر امکان دریافت توکن فقط از طریق بات تلگرام فراهم است.
    > اگر پیام مربوط به توکن را نمی‌بینید، دستور `start/` را در بات ارسال کنید و بر روی دکمه **توسعه‌دهندگان** کلیک کنید.

    ---

    ## منقضی کردن توکن

    برای غیرفعال‌سازی توکن فعلی و ایجاد توکن جدید:

    **تنظیمات ← توسعه‌دهندگان ← منقضی کردن توکن**

    پس از انجام این کار، توکن قبلی از کار می‌افتد و یک توکن جدید برای شما ارسال می‌شود.

    ---

    ## نکات امنیتی

    > [!caution] **هشدار امنیتی**  
    > توکن خود را تحت هیچ شرایطی با دیگران به اشتراک نگذارید.  
    > در صورت لو رفتن یا شک به دسترسی غیرمجاز، فوراً از طریق بات، توکن خود را منقضی کرده و توکن جدید دریافت کنید.

    در صورت نیاز به استفاده از توکن در کد، مطمئن شوید که با روش‌های امن نگهداری داده‌های حساس آشنا هستید (مانند متغیرهای محیطی و رمزنگاری فایل‌های پیکربندی).

    ---

    ✨ با رعایت این نکات، می‌توانید به‌صورت ایمن و مؤثر از API سواپ‌ولت در پروژه‌های خود استفاده کنید.


servers:
  - url: "https://swapwallet.app/api"
    description: |
      سرور پروداکشن

security:
  - ApiKeyAuth: []

tags:
  - name: توکن
    description: API های مرتبط با توکن
  - name: فاکتور
    description: APIهای مربوط به فاکتور
  - name: فروشگاه
    description: APIهای مربوط به فروشگاه
    x-scalar-ignore: true

x-tagGroups:
  - name: عمومی
    tags:
      - توکن
      - بازار
  - name: "درگاه پرداخت کریپتویی"
    tags:
      - فاکتور
      - فروشگاه

paths:
  /v1/utils/authentication/check:
    get:
      tags:
        - توکن
      summary: بررسی توکن
      description: |
        با استفاده از این API می‌توانید از درست بودن توکن و روش استفاده از آن اطمنان حاصل پیدا کنید.
      operationId: checkAuthentication
      responses:
        '200':
          description: احراز با موفقیت انجام شد
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/EmptyResponse"
        '401':
          description: عدم احراز هویت
      security:
        - ApiKeyAuth: []

  /v1/market/prices:
    get:
      tags:
        - بازار
      summary: دریافت قیمت لحظه‌ای ارز‌ها
      description: |
        این API را می‌توانید جهت دریافت قیمت لحظه‌ای ارزها استفاده کنید.  
        توکن و ارز مرجع توسط `/` از یکدیگر جدا شده‌اند و ارزهای مرجع تنها IRT (تومان) و USDT (تتر) می‌باشند.  
      operationId: getAllMarketPrices
      security: []
      responses:
        '200':
          description: OK
          content:
            'application/json':
              schema:
                type: object
                additionalProperties:
                  type: string
                  format: string
                example:
                  "TON/USDT": "2.00"
                  "TON/IRT": "235000"
                  "TRX/USDT": "0.40"
                  "TRX/IRT": "40000"
                  "...": "..."

  /v2/payment/{username}/invoices/temporary-wallet:
    post:
      tags:
        - فاکتور
      summary: ایجاد فاکتور با کیف پول موقت
      description: |
        ایجاد فاکتور با کیف پول موقت برای پرداخت مستقیم  
        اگر مقدار `webhookUrl` را به صورت null ارسال کنید، وبهوک پیش‌فرض فروشگاه استفاده خواهد شد.  
        اگر مقدار `webhookUrl` مقداری منطقی داشته باشد هنگام تکمیل پرداخت از سوی کاربر، وبهوک مشخص شده به صورت `POST` کال خواهد شد.  
      operationId: createApplicationInvoiceWithTemporaryWalletV2
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاه
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationInvoiceWithTemporaryWalletRequest'
      responses:
        '200':
          description: فاکتور با کیف پول موقت با موفقیت ایجاد شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApplicationInvoiceWithTemporaryWalletResponseWrapper'
        '400':
          description: درخواست نامعتبر
        '401':
          description: عدم احراز هویت
        '404':
          description: فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []

  /v1/payment/invoice/allowed-tokens:
    get:
      tags:
        - فاکتور
      summary: دریافت توکن‌های مجاز
      description: دریافت لیست شبکه‌های توکن مجاز برای پرداخت‌ها
      operationId: getAllowedTokens
      responses:
        '200':
          description: توکن‌های مجاز با موفقیت دریافت شدند
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenNetworkListResponse'
      security: []

  /v2/payment/{username}/invoices:
    post:
      tags:
        - فاکتور
      summary: ایجاد فاکتور فروشگاه
      description: ایجاد فاکتور جدید برای فروشگاه با قابلیت‌های پیشرفته
      operationId: createApplicationInvoiceV2
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاه
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationInvoiceRequestV2'
      responses:
        '200':
          description: فاکتور با موفقیت ایجاد شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInvoiceWithPaymentLinksResponseWrapper'
        '400':
          description: درخواست نامعتبر
        '401':
          description: عدم احراز هویت
        '404':
          description: فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []
      x-badges:
        - name: 'آزمایشی'
          position: after
          color: '#FFA7A7'
      x-scalar-ignore: true
        

    get:
      tags:
        - فاکتور
      summary: لیست فاکتورهای فروشگاه
      description: دریافت لیست فاکتورهای یک فروشگاه با صفحه‌بندی
      operationId: getApplicationInvoicesV2
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاه
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: شماره صفحه (پیش‌فرض 0)
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          required: false
          description: تعداد آیتم در هر صفحه (پیش‌فرض 20، حداکثر 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: لیست فاکتورها با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInvoiceV2PaginationResponse'
        '401':
          description: عدم احراز هویت
        '404':
          description: فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []

  /v2/payment/{username}/invoices/{invoiceId}/invoice-token:
    patch:
      tags:
        - فاکتور
      summary: بروزرسانی توکن فاکتور
      description: بروزرسانی توکن و شبکه پرداخت برای فاکتور
      operationId: updateApplicationInvoiceTokenV2
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاه
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          description: شناسه UUID فاکتور
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceTokenRequest'
      responses:
        '200':
          description: توکن فاکتور با موفقیت بروزرسانی شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInvoiceWithPaymentLinksResponseWrapper'
        '400':
          description: درخواست نامعتبر
        '401':
          description: عدم احراز هویت
        '404':
          description: فاکتور یا فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []
      x-scalar-ignore: true

  /v2/payment/{username}/invoices/with-order-id/{orderId}:
    get:
      tags:
        - فاکتور
      summary: دریافت فاکتور با شناسه خارجی
      description: دریافت اطلاعات فاکتور با استفاده از شناسه خارجی
      operationId: getApplicationInvoiceByOrderIdV2
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاه
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          description: شناسه خارجی فاکتور
          schema:
            type: string
      responses:
        '200':
          description: فاکتور با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInvoiceV2ResponseWrapper'
        '401':
          description: عدم احراز هویت
        '404':
          description: فاکتور یا فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []

  /v2/payment/{username}/invoices/{invoiceId}:
    get:
      tags:
        - فاکتور
      summary: دریافت اطلاعات کامل فاکتور
      description: دریافت اطلاعات کامل فاکتور شامل کیف پول و اطلاعات فروشگاه
      operationId: getApplicationInvoiceInformationV2
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاه
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          description: شناسه UUID فاکتور
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: اطلاعات فاکتور با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInvoiceInformationV2ResponseWrapper'
        '401':
          description: عدم احراز هویت
        '404':
          description: فاکتور یا فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []

  /v1/payment/application/{username}:
    patch:
      tags:
        - فروشگاه
      summary: بروزرسانی فروشگاه
      description: بروزرسانی تنظیمات فروشگاه برای یک نام کاربری مشخص
      operationId: updateApplication
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاهی که باید بروزرسانی شود
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
      responses:
        '200':
          description: فروشگاه با موفقیت بروزرسانی شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          description: درخواست نامعتبر
        '401':
          description: عدم احراز هویت
        '404':
          description: فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []

  /v1/payment/application/{username}/balance:
    get:
      tags:
        - فروشگاه
      summary: دریافت موجودی فروشگاه
      description: بازیابی مجموع موجودی برای یک فروشگاه خاص
      operationId: getApplicationBalance
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاه
          schema:
            type: string
      responses:
        '200':
          description: موجودی فروشگاه با موفقیت دریافت شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalBalanceResponse'
        '401':
          description: عدم احراز هویت
        '404':
          description: فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []

  /v1/payment/application/{username}/settle-all:
    post:
      tags:
        - فروشگاه
      summary: تسویه تمام موجودی‌ها
      description: تسویه تمام موجودی‌های یک فروشگاه خاص
      operationId: settleAllBalances
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاه
          schema:
            type: string
      responses:
        '200':
          description: تمام موجودی‌ها با موفقیت تسویه شدند
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '401':
          description: عدم احراز هویت
        '404':
          description: فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []

  /v1/payment/application/{username}/settle:
    post:
      tags:
        - فروشگاه
      summary: تسویه موجودی مشخص
      description: تسویه مقدار خاصی از موجودی فروشگاه
      operationId: settleSpecificBalance
      parameters:
        - name: username
          in: path
          required: true
          description: نام کاربری فروشگاه
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettlementRequest'
      responses:
        '200':
          description: موجودی با موفقیت تسویه شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '400':
          description: درخواست نامعتبر
        '401':
          description: عدم احراز هویت
        '404':
          description: فروشگاه یافت نشد
      security:
        - ApiKeyAuth: []

  /v1/payment/application:
    post:
      tags:
        - فروشگاه
      summary: ایجاد فروشگاه جدید
      description: ایجاد یک فروشگاه پرداخت جدید
      operationId: newApplication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
      responses:
        '200':
          description: فروشگاه با موفقیت ایجاد شد
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          description: درخواست نامعتبر
        '401':
          description: عدم احراز هویت
      security:
        - ApiKeyAuth: []

    get:
      tags:
        - فروشگاه
      summary: لیست فروشگاه‌ها
      description: لیست تمام فروشگاه‌های کاربر احراز هویت شده را برمی‌گرداند
      operationId: listApplications
      responses:
        '200':
          description: فروشگاه‌ها با موفقیت بازیابی شدند
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResponse'
        '401':
          description: عدم احراز هویت
      security:
        - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        توکن سواپ‌ولت فروشگاه خود را همراه درخواست‌ها ارسال نمائید: `<Authorization: <YourToken`

  schemas:
    InvoiceResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/InvoiceDto'

    ApplicationResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationDto'

    ApplicationListResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationDto'

    TotalBalanceResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/TotalBalanceDto'

    TokenNetworkListResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          type: array
          items:
            $ref: '#/components/schemas/TokenNetworkDto'

    EmptyResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'

    UpdateApplicationRequest:
      type: object
      properties:
        logoFileId:
          type: [string, "null"]
          format: uuid
          description: شناسه UUID فایل لوگو
        name:
          type: [string, "null"]
          description: نام فروشگاه
        description:
          type: [string, "null"]
          description: توضیحات فروشگاه
        website:
          type: [string, "null"]
          description: نشانی وب فروشگاه
        webhookUrl:
          type: [string, "null"]
          description: آدرس وبهوک برای اعلان‌ها

    CreateApplicationRequest:
      type: object
      properties:
        username:
          type: string
          description: نام کاربری یکتا برای فروشگاه
        logoFileId:
          type: [string, "null"]
          format: uuid
          description: شناسه UUID فایل لوگو
        name:
          type: string
          description: نام فروشگاه
        description:
          type: [string, "null"]
          description: توضیحات فروشگاه
        website:
          type: [string, "null"]
          description: نشانی وب فروشگاه
        webhookUrl:
          type: [string, "null"]
          description: آدرس وبهوک برای اعلان‌ها
      required:
        - username
        - name

    SettlementRequest:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
      required:
        - amount

    InvoiceDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: شناسه فاکتور
        supportCode:
          type: string
          description: کد پشتیبانی برای فاکتور
        status:
          $ref: '#/components/schemas/InvoiceStatusEnum'
        title:
          type: string
          description: عنوان فاکتور
        readableTitle:
          type: [string, "null"]
          description: عنوان خوانا برای انسان
        type:
          type: string
          description: نوع فاکتور
        amount:
          $ref: '#/components/schemas/Money'
        value:
          $ref: '#/components/schemas/Money'
        allowedPaymentTokens:
          type: array
          items:
            $ref: '#/components/schemas/TokenEnum'
        fee:
          $ref: '#/components/schemas/Money'
        createdAt:
          type: string
          format: date-time
          description: زمان ایجاد فاکتور
        expiredAt:
          type: [string, "null"]
          format: date-time
          description: زمان انقضای فاکتور
        paidWith:
          allOf:
            - $ref: '#/components/schemas/Money'
          type:
            - object
            - "null"
        paidAt:
          type: [string, "null"]
          format: date-time
          description: زمان پرداخت

    ApplicationDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: شناسه فروشگاه
        ownerId:
          type: integer
          format: int64
          description: شناسه کاربر مالک
        supportCode:
          type: string
          description: کد پشتیبانی برای فروشگاه
        status:
          $ref: '#/components/schemas/ApplicationStatusEnum'
        username:
          type: string
          description: نام کاربری فروشگاه
        logo:
          type: [string, "null"]
          description: نشانی لوگو
        name:
          type: string
          description: نام فروشگاه
        description:
          type: [string, "null"]
          description: توضیحات فروشگاه
        website:
          type: [string, "null"]
          description: نشانی وب فروشگاه
        webhookUrl:
          type: [string, "null"]
          description: آدرس وبهوک برای اعلان‌ها
        feePayer:
          $ref: '#/components/schemas/FeePayerEnum'

    TotalBalanceDto:
      type: object
      properties:
        totalValue:
          $ref: '#/components/schemas/TotalValueDto'
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TokensBalanceDto'

    TotalValueDto:
      type: object
      properties:
        available:
          type: array
          items:
            $ref: '#/components/schemas/Money'
        onHold:
          type: array
          items:
            $ref: '#/components/schemas/Money'
      required:
        - available
        - onHold

    TokensBalanceDto:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/TokenEnum'
        available:
          $ref: '#/components/schemas/TokenAmountAndValueDto'
        onHold:
          $ref: '#/components/schemas/TokenAmountAndValueDto'
        marketData:
          type: array
          items:
            $ref: '#/components/schemas/ExternalMarketDataDto'

    TokenAmountAndValueDto:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        values:
          type: array
          items:
            $ref: '#/components/schemas/Money'

    TokenNetworkDto:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/TokenEnum'
        network:
          $ref: '#/components/schemas/NetworkEnum'
      required:
        - token
        - network

    Money:
      type: object
      properties:
        number:
          type: string
        unit:
          $ref: '#/components/schemas/TokenEnum'
      required:
        - number
        - unit
      example:
        number: "100.50"
        unit: "USDT"

    ExternalMarketDataDto:
      type: object
      properties:
        latestPrice:
          type: string
          description: آخرین قیمت به‌صورت رشته
        bestBuy:
          type: string
          description: بهترین قیمت خرید
        bestSell:
          type: string
          description: بهترین قیمت فروش
        dayChange:
          type: string
          description: درصد تغییر در طول روز
        volume24h:
          type: string
          description: حجم معاملات در ۲۴ ساعت گذشته

    ResponseStatusEnum:
      type: string
      enum:
        - OK
        - ERROR

    InvoiceStatusEnum:
      type: string
      enum:
        - PENDING
        - CANCELED
        - PAID
        - DELIVERED

    ApplicationStatusEnum:
      type: string
      enum:
        - ACTIVE
        - DEACTIVATE
        - DELETED

    FeePayerEnum:
      type: string
      enum:
        - USER
        - APPLICATION

    TokenEnum:
      type: string
      enum:
        - USDT
        - TON
        - TRX

    NetworkEnum:
      type: string
      enum:
        - TRON
        - TON
        - BSC

    # V2 API Schemas
    CreateApplicationInvoiceRequestV2:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        allowedTokens:
          type: array
          items:
            $ref: '#/components/schemas/TokenNetworkDto'
          description: لیست توکن‌ها و شبکه‌های مجاز برای پرداخت
        feePayer:
          allOf:
            - $ref: '#/components/schemas/FeePayerEnum'
          type:
            - string
            - "null"
          description: پرداخت‌کننده کارمزد
        userLanguage:
          allOf:
            - $ref: '#/components/schemas/LanguageEnum'
          type:
            - string
            - "null"
          description: زبان کاربر
        ttl:
          type: integer
          format: int64
          minimum: 300
          maximum: 21600
          description: مدت زمان اعتبار فاکتور به ثانیه
        underPaidCoveragePercent:
          type: [string, "null"]
          description: درصد پوشش کم‌پرداختی (0 تا 60 درصد)
          default: "10"
        returnUrl:
          type: [string, "null"]
          format: uri
          maxLength: 255
          description: آدرس بازگشت پس از پرداخت
        webhookUrl:
          type: [string, "null"]
          format: uri
          maxLength: 255
          description: آدرس وب‌هوک برای اعلان‌ها
        orderId:
          type: [string, "null"]
          maxLength: 255
          description: شناسه سفارش خارجی
        description:
          type: [string, "null"]
          maxLength: 255
          description: توضیحات فاکتور
        customData:
          type: [string, "null"]
          maxLength: 512
          description: داده‌های سفارشی
      required:
        - amount
        - allowedTokens
        - ttl

    CreateApplicationInvoiceWithTemporaryWalletRequest:
      type: object
      properties:
        amount:
          type: object
          description: ارزش فاکتور که می‌خواهید معادل آن را دریافت کنید  
          properties:
            number:
              type: string
            unit:
              type: string
              enum:
                - USDT
                - IRT
                - TON
                - TRX
                - ETH
                - ...
          required:
            - number
            - unit
          example:
            number: "100000"
            unit: "IRT"
        allowedToken:
          $ref: '#/components/schemas/TokenEnum'
        network:
          $ref: '#/components/schemas/NetworkEnum'
        ttl:
          type: integer
          format: int64
          minimum: 300
          maximum: 21600
          description: مدت زمان اعتبار فاکتور به ثانیه
        underPaidCoveragePercent:
          type: [string, "null"]
          description: درصد پوشش کم‌پرداختی (0 تا 60 درصد)
        orderId:
          type: [string, "null"]
          maxLength: 255
          description: شناسه سفارش خارجی
        webhookUrl:
          type: [string, "null"]
          format: uri
          maxLength: 255
          description: آدرس وب‌هوک برای اعلان‌ها
        customData:
          type: [string, "null"]
          maxLength: 512
          description: داده‌های سفارشی
      required:
        - amount
        - network
        - ttl

    UpdateInvoiceTokenRequest:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/TokenEnum'
        network:
          $ref: '#/components/schemas/NetworkEnum'
      required:
        - token
        - network

    ApplicationInvoiceWithPaymentLinksResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: شناسه UUID فاکتور
        paymentLinks:
          type: array
          items:
            $ref: '#/components/schemas/InvoicePaymentLinkDto'
          description: لینک‌های پرداخت
        expiredAt:
          type: string
          format: date-time
          description: زمان انقضای فاکتور
        createdAt:
          type: string
          format: date-time
          description: زمان ایجاد فاکتور

    CreateApplicationInvoiceWithTemporaryWalletResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: شناسه UUID فاکتور
        walletAddress:
          type: string
          description: آدرس کیف پول موقت
        links:
          type: array
          items:
            $ref: '#/components/schemas/DeepLinkDto'
          description: لینک‌های عمیق کیف پول‌ها
        amount:
          $ref: '#/components/schemas/AmountAndValueDto'
        expiredAt:
          type: string
          format: date-time
          description: زمان انقضای فاکتور
        createdAt:
          type: string
          format: date-time
          description: زمان ایجاد فاکتور

    ApplicationInvoiceV2Dto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: شناسه UUID فاکتور
        supportCode:
          type: string
          description: کد پشتیبانی
        status:
          $ref: '#/components/schemas/ApplicationInvoiceStatusEnum'
        description:
          type: [string, "null"]
          description: توضیحات فاکتور
        customData:
          type: [string, "null"]
          description: داده‌های سفارشی
        userLanguage:
          allOf:
            - $ref: '#/components/schemas/LanguageEnum'
          type:
            - string
            - "null"
          description: زبان کاربر
        returnUrl:
          type: [string, "null"]
          format: uri
          maxLength: 255
          description: آدرس بازگشت
        webhookUrl:
          type: [string, "null"]
          format: uri
          maxLength: 255
          description: آدرس وب‌هوک برای اعلان‌ها
        orderId:
          type: [string, "null"]
          description: شناسه خارجی
        amount:
          allOf:
            - $ref: '#/components/schemas/Money'
          type:
            - object
            - "null"
          description: مبلغ فاکتور
        value:
          allOf:
            - $ref: '#/components/schemas/Money'
          type:
            - object
            - "null"
          description: ارزش فاکتور
        feePayer:
          $ref: '#/components/schemas/FeePayerEnum'
        feeAmount:
          allOf:
            - $ref: '#/components/schemas/Money'
          type:
            - object
            - "null"
          description: مبلغ کارمزد
        paymentLinks:
          type: array
          items:
            $ref: '#/components/schemas/InvoicePaymentLinkDto'
          description: لینک‌های پرداخت
        paidAt:
          type: [string, "null"]
          format: date-time
          description: زمان پرداخت
        expiredAt:
          type: string
          format: date-time
          description: زمان انقضا
        createdAt:
          type: string
          format: date-time
          description: زمان ایجاد

    ApplicationInvoiceInformationV2Dto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: شناسه UUID فاکتور
        status:
          $ref: '#/components/schemas/ApplicationInvoiceStatusEnum'
        wallet:
          allOf:
            - $ref: '#/components/schemas/ApplicationInvoiceWalletDto'
          type:
            - object
            - "null"
          description: اطلاعات کیف پول
        returnUrl:
          type: [string, "null"]
          description: آدرس بازگشت
        webhookUrl:
          type: [string, "null"]
          format: uri
          maxLength: 255
          description: آدرس وب‌هوک برای اعلان‌ها
        amount:
          allOf:
            - $ref: '#/components/schemas/Money'
          type:
            - object
            - "null"
          description: مبلغ فاکتور
        value:
          allOf:
            - $ref: '#/components/schemas/Money'
          type:
            - object
            - "null"
          description: ارزش فاکتور
        feePayer:
          $ref: '#/components/schemas/FeePayerEnum'
        feeAmount:
          allOf:
            - $ref: '#/components/schemas/Money'
          type:
            - object
            - "null"
          description: مبلغ کارمزد
        applicationInformation:
          $ref: '#/components/schemas/ApplicationInformationDto'
        customData:
          type: [string, "null"]
          description: داده‌های سفارشی
        paidAmount:
          allOf:        
            - $ref: '#/components/schemas/Money'
          type:
            - object
            - "null"
          description: مبلغ پرداخت شده
        paidAt:
          type: [string, "null"]
          format: date-time
          description: زمان پرداخت
        expiredAt:
          type: string
          format: date-time
          description: زمان انقضا
        createdAt:
          type: string
          format: date-time
          description: زمان ایجاد

    InvoicePaymentLinkDto:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PaymentLinkTypeEnum'
        url:
          type: string
          description: آدرس لینک پرداخت

    ApplicationInvoiceWalletDto:
      type: object
      properties:
        network:
          $ref: '#/components/schemas/NetworkEnum'
        token:
          $ref: '#/components/schemas/TokenEnum'
        address:
          type: string
          description: آدرس کیف پول
        validUntil:
          type: string
          format: date-time
          description: زمان اعتبار کیف پول
        deepLinks:
          type: array
          items:
            $ref: '#/components/schemas/DeepLinkDto'
          description: لینک‌های عمیق کیف پول‌ها

    ApplicationInformationDto:
      type: object
      properties:
        name:
          type: string
          description: نام فروشگاه
        description:
          type: [string, "null"]
          description: توضیحات فروشگاه
        logo:
          type: [string, "null"]
          description: آدرس لوگو فروشگاه
        website:
          type: [string, "null"]
          description: وب‌سایت فروشگاه
        verified:
          type: boolean
          description: وضعیت تأیید فروشگاه

    AmountAndValueDto:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Money'
        usdValue:
          $ref: '#/components/schemas/Money'
        userCurrencyValue:
          $ref: '#/components/schemas/Money'

    DeepLinkDto:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/WalletProvidersEnum'
        logo:
          type: string
          description: آدرس لوگو کیف پول
        url:
          type: [string, "null"]
          description: لینک عمیق کیف پول

    # V2 Response Wrappers
    ApplicationInvoiceWithPaymentLinksResponseWrapper:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationInvoiceWithPaymentLinksResponse'

    CreateApplicationInvoiceWithTemporaryWalletResponseWrapper:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/CreateApplicationInvoiceWithTemporaryWalletResponse'

    ApplicationInvoiceV2ResponseWrapper:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationInvoiceV2Dto'

    ApplicationInvoiceInformationV2ResponseWrapper:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          $ref: '#/components/schemas/ApplicationInvoiceInformationV2Dto'

    ApplicationInvoiceV2PaginationResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ResponseStatusEnum'
        result:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationInvoiceV2Dto'
        totalCount:
          type: integer
          format: int64
          description: تعداد کل آیتم‌ها
        totalPages:
          type: integer
          description: تعداد کل صفحات
        currentPage:
          type: integer
          description: شماره صفحه فعلی
        pageSize:
          type: integer
          description: تعداد آیتم در هر صفحه

    PaymentLinkTypeEnum:
      type: string
      enum:
        - TELEGRAM_BOT
        - TELEGRAM_WEBAPP
        - WEBSITE

    ApplicationInvoiceStatusEnum:
      type: string
      enum:
        - ACTIVE
        - PAID
        - EXPIRED
        - CANCELED

    LanguageEnum:
      type: string
      enum:
        - EN
        - FA

    WalletProvidersEnum:
      type: string
      enum:
        - SWAP_WALLET
        - TRUST_WALLET
        - METAMASK
        - TON_KEEPER
        - TONHUB
        - MYTONWALLET
